<p style="margin-bottom: 0in; line-height: 100%">Budder Order Form</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">

</p>
<p style="margin-bottom: 0in; line-height: 100%">Name</p>
<input type='text' name='name' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Address</p>
<input type='text' name='address' id='address' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Phone</p>
<input type='text' name='phone' id='phone' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Email</p>
<input type='text' name='email' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Date</p>
<input type='text' name='date' id='date'/><br/>
<p style="margin-bottom: 0in; line-height: 100%">Age</p>
<input type='text' name='date' id='age'/><br/>

<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>

<div>Our classic stick of Budder
		<li id="item" name="item">Item</li>
		Description
		Price :
		Quantity
		Sub total
		Checkout
		Shipping
		take care of shipping
		<%= form_tag charges_path do %>
  <div id="error_explanation">
    <% if flash[:error].present? %>
      <p><%= flash[:error] %></p>
    <% end %>
  </div>
  <article>
    <label class="amount">
      <span>Amount: $20 </span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="One-time donation"
  data-amount=2000
  data-locale="auto"></script>
<% end %>

</div>

<p style="margin-bottom: 0in; line-height: 100%">Shipping method</p>
<div id="nextfriday">Today (is supposed to be the coming friday) </div>
<input type='text' name='shippingMeth' id='shippingMeth' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Ship by date</p>
<input type='text' name='shipByDate' id='shipByDate' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Item	</p>
<p style="margin-bottom: 0in; line-height: 100%">	Stick of
Cannabutter (Our regular stick of butter is ~110 grams, 375 mg.)</p>
<input type="radio" id="regular"> Regular </input>
<input type="radio" id="custom"> Custom </input>

<p style="margin-bottom: 0in; line-height: 100%">Quantity</p>
<input type='text' name='quant' id='quant' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">	</p>
<p style="margin-bottom: 0in; line-height: 100%" >THC Strength per
each stick<br />
<input type='text' name='thcStrength' id='thcStrength' />
	(85 g
max, 125 mg min)</p>

<p style="margin-bottom: 0in; line-height: 100%" >Click here to calculate order total</p>
<p style="margin-bottom: 0in; line-height: 100%" name="javatext1" id="javatext1"> Your total will appear here	</p>

<p style="margin-bottom: 0in; line-height: 100%">	</p>
<input type='submit' value='Submit Order' onclick="confirmalert()"/>
</form>
<script>
document.getElementById('nextfriday').innerHTML = "Delivery on the next friday after " + new Date().toJSON().slice(0,10).replace(/-/g,'/') + "(today)";
document.getElementById('date').value = new Date().toJSON().slice(0,10).replace(/-/g,'/');


	function confirmalert(){
		alert("Your order has been submitted!")
	}



</script>
