<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2018-02-16T19:45:13.324569395"/>
	<meta name="changed" content="2018-02-16T20:21:07.079855533"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Production Run Notes</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Date 02/16/18</p>
<p style="margin-bottom: 0in; line-height: 100%">Time 07:54:35 PM</p>
<p style="margin-bottom: 0in; line-height: 100%">People involved in
Production Vedabrat</p>
<p style="margin-bottom: 0in; line-height: 100%">Location: kitchen of
52 yale ave, jersey City NJ</p>
<p style="margin-bottom: 0in; line-height: 100%">Product to be made :
cannabutter</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Materials and amount
used:</p>
<p style="margin-bottom: 0in; line-height: 100%">2 sticks of Salted
Butter 228 g</p>
<p style="margin-bottom: 0in; line-height: 100%">2 sheets of wax
paper</p>
<p style="margin-bottom: 0in; line-height: 100%">1 sheet of cling
wrap paper</p>
<p style="margin-bottom: 0in; line-height: 100%">1 mold (made out of
a cardboard box with string to keep it together)</p>
<p style="margin-bottom: 0in; line-height: 100%">.75 grams of WiFi
rosin</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Tools used</p>
<p style="margin-bottom: 0in; line-height: 100%">Toaster oven</p>
<p style="margin-bottom: 0in; line-height: 100%">Heat Gloves</p>
<p style="margin-bottom: 0in; line-height: 100%">Knifes to cut butter
and stir while heated</p>
<p style="margin-bottom: 0in; line-height: 100%">small metal dish</p>
<p style="margin-bottom: 0in; line-height: 100%">arts and craft’d
cardboard mold
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Process:
</p>
<p style="margin-bottom: 0in; line-height: 100%">Measure
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Find THCmg to
butter stick ratio wanted this case was 375mg per stick of butter.
that’s .750 g of 		dab for two sticks</p>
<p style="margin-bottom: 0in; line-height: 100%">	measure dab
carefully between a two layers of wax paper and fold to get the
correct size.
</p>
<p style="margin-bottom: 0in; line-height: 100%">Heat</p>
<p style="margin-bottom: 0in; line-height: 100%">	Put everything in
the metal dish, and heat in the toaster at 220F for 20 minutes. Start
the timer 			only after the butter melts.</p>
<p style="margin-bottom: 0in; line-height: 100%">	Stir two separate
times to ensure no colored bits of dab are solid and all the
components of the 			butter become liquid and are mixed
homogeneously.
</p>
<p style="margin-bottom: 0in; line-height: 100%">Mold	Pour into a
well formed mold. Set in the fridge to cool for 1 hour.
</p>
<p style="margin-bottom: 0in; line-height: 100%">	</p>
<p style="margin-bottom: 0in; line-height: 100%">Packaging
</p>
<p style="margin-bottom: 0in; line-height: 100%">	Remove from the
mold, and wrap the wax paper packaging around the budder,</p>
<p style="margin-bottom: 0in; line-height: 100%">	</p>
<p style="margin-bottom: 0in; line-height: 100%">	</p>
<p style="margin-bottom: 0in; line-height: 100%">Notes and oddities
after production:</p>
<p style="margin-bottom: 0in; line-height: 100%">1. the saran wrapped
mold wasnt the perfect solution, the butter ended up having pockets.</p>
<p style="margin-bottom: 0in; line-height: 100%">2. salted butter was
not the best choice, it ended up having a salted milky layer at the
bottom. Purified butter wouldnt have the milky salty underbottom or
as much foam on top.</p>
<p style="margin-bottom: 0in; line-height: 100%">3. the second mold
came out better because I tried to blow the saran wrap to fit in the
cardboard mold</p>
<p style="margin-bottom: 0in; line-height: 100%">4. improving on
design of the mold would have helped the look drastically</p>
<p style="margin-bottom: 0in; line-height: 100%">5. the mold may have
been a little too small – perhaps those corners of air between the
saran wrap and the box cut away at the actual mass of it.</p>
<p style="margin-bottom: 0in; line-height: 100%">6.  A small amount
(the excess of the pour) of butter was put into another container to
harden.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Results:</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">2 underweight bars
of different sizing at an assumed 350 mg dosage per bar… If the
mass of each was checked, a better estimate could be made as to how
much budder is truly in there.
</p>
<p style="margin-bottom: 0in; line-height: 100%">The mass calculation
is 3 milligrams THC per 1 gram of butter.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


	Take a <%= link_to "Survey", njmj_survey_path %> <br />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
