<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2018-03-06T20:20:29.200226442"/>
	<meta name="created" content="2018-02-26T16:38:43.789501562">
	<meta name="changed" content="2018-02-26T20:16:47.074506058">
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		h3.cjk { font-family: "Noto Sans CJK SC Regular" }
		h3.ctl { font-family: "FreeSans" }
	</style>
</head>
<body lang="en-US" dir="ltr">
<h3 class="western" style="font-variant: normal; letter-spacing: normal; font-style: normal">
<font color="#333333"><font face="Open Sans, Helvetica, Arial, sans-serif"><font size="5" style="font-size: 17pt"><b>1.
Executive summary</b></font></font></font></h3>
<p style="margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.38in; orphans: 2; widows: 2">
<font color="#333333"><font face="PT Serif, serif"><font size="4" style="font-size: 15pt">NJMJ
will provide marijuana in various forms to be sold in NJ. A
personalized delivery mechanism to ensure discretion and a personally
tended order to each client is the main service we offer. The company
aims to brand itself, but other goals will be achieved along the way.
Plans to expand territories and market share exist in it’s future.
Firm plans to take advantage of New Jersey’s legal situation and be
part of the stream of revenue flowing into the market are planned to
be taken.</font></font></font></p>
<h3 class="western" style="margin-top: 0.24in; margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 0.36in; orphans: 2; widows: 2">
<font color="#333333"><font face="Open Sans, Helvetica, Arial, sans-serif"><font size="5" style="font-size: 17pt"><b>2.
Opportunity</b></font></font></font></h3>
<p style="margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.38in; orphans: 2; widows: 2">
<font color="#333333"><font face="PT Serif, serif"><font size="4" style="font-size: 15pt">We
are planning to sell marijuana, it’s derivatives, infusions, and
any complementary products to all persons and businesses approved for
use and purchase of marijuana. We aim to solve all problems of ease,
discretion, and control for those consumers for their access and use.
Our target market is all of NJ, starting locally, and then expanding
as funds allow. All of NJ -that is - all
districts/quadrants/territories within the state. <br/>
<br/>
If it
allows, trade with other suppliers for external resources will be
considered if the pricing is attractive.</font></font></font></p>
<h3 class="western" style="margin-top: 0.24in; margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 0.36in; orphans: 2; widows: 2; page-break-before: always">
<font color="#333333"><font face="Open Sans, Helvetica, Arial, sans-serif"><font size="5" style="font-size: 17pt"><b>3.
Execution</b></font></font></font></h3>
<p style="margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.38in; orphans: 2; widows: 2">
<font color="#333333"><font face="PT Serif, serif"><font size="4" style="font-size: 15pt">The
sales plan is a direct sales model. Marketing will be based on market
study surveys. Success shall be measured in terms of growth of
accounts, increasing market coverage and general profitability, and
rise in price of personal stock. Operations will be as followed.
Production will be sourced from reliable resources, products will be
created and packaged in generally controlled settings, and then
distribution will go out according to client demand.</font></font></font></p>
<h3 class="western" style="margin-top: 0.24in; margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 0.36in; orphans: 2; widows: 2">
<font color="#333333"><font face="Open Sans, Helvetica, Arial, sans-serif"><font size="5" style="font-size: 17pt"><b>4.
Team and company</b></font></font></font></h3>
<p style="margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.38in; orphans: 2; widows: 2">
<font color="#333333"><font face="PT Serif, serif"><font size="4" style="font-size: 15pt">Norma
Gilyard, Vedabrat Etwaru, and Kelly Miller are the main officers.
With programming, marketing, business, finance, distribution,
secretarial, parliamentarian and production experience, there is
little need for others aside from accountants, operations, and
salesmen to be hired. The LLC’s headquarters are in Jersey City.</font></font></font></p>
<h3 class="western" style="margin-top: 0.24in; margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 0.36in; orphans: 2; widows: 2">
<font color="#333333"><font face="Open Sans, Helvetica, Arial, sans-serif"><font size="5" style="font-size: 17pt"><b>5.
Financial plan</b></font></font></font></h3>
<p style="margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.38in; orphans: 2; widows: 2">
<font color="#333333"><font face="PT Serif, serif"><font size="4" style="font-size: 15pt">Funding
for operations is largely provided by the initial investment of the
founders. All business processes are funded by the sale of goods
until inventory for two months (or pre-seasonal stocks) of demand is
stored. At that point, processes may be contracted out, sourced from
other suppliers, financed, hedged, or analyzed for their contribution
to financial gains. Sales will be recorded personally and financial
institutions may aid in this. If we can accept any currency, we will,
but only to our advantage. Other forms of compensation will also be
considered and accepted if they can return a comparable value.</font></font></font></p>
<h3 class="western" style="margin-top: 0.24in; margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 0.36in; orphans: 2; widows: 2">
<font color="#333333"><font face="Open Sans, Helvetica, Arial, sans-serif"><font size="5" style="font-size: 17pt"><b>6.
Appendix</b></font></font></font></h3>
<p style="margin-bottom: 0.12in; font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 0.38in; orphans: 2; widows: 2">
<font color="#333333"><font face="PT Serif, serif"><font size="4" style="font-size: 15pt">There
is currently no information in this section.</font></font></font></p>
</body>
</html>