<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="generator" content="LibreOffice 5.1.6.2 (Linux)" />
    <meta name="created" content="2017-11-02T14:19:58.333275740" />
    <meta name="changed" content="2017-11-02T14:25:28.076491781" />
    <style type="text/css">
        @page {
            margin: 0.79in
        }

        p {
            margin-bottom: 0.1in;
            line-height: 120%
        }
    </style>
</head>

<body lang="en-US" dir="ltr">
    <div align="center" >
      <p  style="margin-bottom: 0in; line-height: 100%">NJMJ Relevant Media <span style="text-decoration: none">:</span></p>
    <p  style="margin-bottom: 0in; line-height: 100%">
			<br/>
		</p>
    <form action="https://getsimpleform.com/messages?form_api_token=42e4f12338e3a9d957a31fa298211e13" method="post">
				<!-- <input type='text' name='test' /> -->
    <p  style="margin-bottom: 0in; line-height: 100%">
			<span style="text-decoration: none">Link:
        <input type='text' name='link' />
</span>
		</p>
    <p  style="margin-bottom: 0in; line-height: 100%">
			<span style="text-decoration: none">Description:
				<input type='text' name='description' />
    </p>
</span>
    <p  style="margin-bottom: 0in; line-height: 100%">
			<input type='submit' value='Submit!' /> </form>
			<br/> </p>
    <p  href="www.techit.herokuapp.com/WIP/approved.html" style="margin-bottom: 0in; line-height: 100%">Approved submissions</p>

    <%= link_to "marijuana discussions on reddit", "https://www.reddit.com/r/science/comments/880j3l/marijuana_may_not_be_as_damaging_to_the_brain_as/?st=JFCPP8DH&sh=6b46e188
" %> Marijuana increases lung capacity when injested properly.
    <p  style="margin-bottom: 0in; line-height: 100%">
1. <%= link_to "Microdosing weed" , "https://www.leafly.com/news/cannabis-101/microdosing-weed-guide" %> <br>
Description: Budder microdosing benefits.

    </p>
  </div>
</body>

</html>
