<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Become a Member</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">

<p style="margin-bottom: 0in; line-height: 100%">Name:</p>
<input type='text' name='name' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Number:</p>
<input type='text' name='number' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Email:</p>
<input type='text' name='email' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Address:</p>
<input type='text' name='address' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">City:</p>
<input type='text' name='city' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">State:</p>
<input type='text' name='state' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Zip:</p>
<input type='text' name='zip' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Job:</p>
<input type='text' name='job' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Male? Female?:</p>
<input type='text' name='sex' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">How long have you
been using cannabis products?</p>
<input type='text' name='yrsUses' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Any favorite strain?</p>
<input type='text' name='favStrain' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Membership Type &amp;
Subscription.</p>
<p style="margin-bottom: 0in; line-height: 100%">One time memberships</p>
<p style="margin-bottom: 0in; line-height: 100%">Year-long</p>
<p style="margin-bottom: 0in; line-height: 100%">Month-long</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Recurring</p>
<p style="margin-bottom: 0in; line-height: 100%">Yearly ---- Receive
news, stock, coupons, and other goodies! ( <%= link_to "$570", charges_memberYearRec_path %>)</p>memberMonRec
<p style="margin-bottom: 0in; line-height: 100%">Monthly ---- receive
4 sticks of buDDer per month (<%= link_to "$40", charges_memberMonRec_path %>)</p>
<p style="margin-bottom: 0in; line-height: 100%">Weekly ---- receive
1 stick of buDDer per week (<%= link_to "$15", charges_memberWeekRec_path %>)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Would you like to be
a financial investor?<br/>
<input type='text' name='financialInvest' /><br/>
You can Buy and Sell our Private stock
(links to come soon)!</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<input type='submit' value='submit.' />
</form>
</body>
</html>
