<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2018-01-13T16:41:23.166162033"/>
	<meta name="created" content="00:00:00">
	<meta name="changed" content="2018-01-13T14:37:36.051786486">
	<meta name="created" content="2018-01-12T20:19:04.552831740">
	<meta name="changed" content="2018-01-12T21:53:55.747050964">
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		h3.western { font-family: "Liberation Sans", sans-serif }
		h3.cjk { font-family: "Noto Sans CJK SC Regular" }
		h3.ctl { font-family: "FreeSans" }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
  <h3 class="western">Notes:</h3>

	<p style="margin-bottom: 0in; line-height: 100%">Approved Ideas	</p>
	<p>updated last on Feb 3, 2018</p>

	<p style="margin-bottom: 0in; line-height: 100%"><br/>

	</p>
	<p style="margin-bottom: 0in; line-height: 100%">	- different
	potencies for baked goods</p>
	<p style="margin-bottom: 0in; line-height: 100%">veda	- place special
	custom orders for events * (see note below)</p>
	<p style="margin-bottom: 0in; line-height: 100%">norma	- chocolate</p>
	<p style="margin-bottom: 0in; line-height: 100%">	- lollipop(resale)</p>
	<p style="margin-bottom: 0in; line-height: 100%">veda	- Gummy
	bears(rose gummy bears)</p>
	<p style="margin-bottom: 0in; line-height: 100%">kelly and trish	</p>
	<p style="margin-bottom: 0in; line-height: 100%">	- sour strings (we
	want, but we dont know how to make)</p>
	<p style="margin-bottom: 0in; line-height: 100%">kelly and trish	</p>
	<p style="margin-bottom: 0in; line-height: 100%">	- sour patches</p>
	<p style="margin-bottom: 0in; line-height: 100%">kelly	- brownies</p>
	<p style="margin-bottom: 0in; line-height: 100%">kelly	- cookies</p>
	<p style="margin-bottom: 0in; line-height: 100%">kelly	- Muffins</p>
	<p style="margin-bottom: 0in; line-height: 100%">kelly	- cupcakes</p>
	<p style="margin-bottom: 0in; line-height: 100%">veda	- membership
	(points and assortments rewards) *</p>
	<p style="margin-bottom: 0in; line-height: 100%"><br/>

	</p>
	<p style="margin-bottom: 0in; line-height: 100%">*(these projects
	take typically 3x longer than projected)</p>
	<p style="margin-bottom: 0in; line-height: 100%"><br/>

		<p style="margin-bottom: 0in; line-height: 100%"><br/>

		</p>
		<table cellpadding="2" cellspacing="0">
			<tr>
				<th style="border: none; padding: 0in">
					<p>MeetingDate</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">03/13/18</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>meetingordertime</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">9:90</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>participantsandabsent</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Vedabrat, Norma, daron, Kelly</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>corrections</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Possible name change</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>additions</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Contest, business name contest</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>quorum</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">YES</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>motions</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">NEw business name JERZJANE</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>voting</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">JerzJANE</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>actionsto</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>steps</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">noma and veda still have work to
					do. kelly and teddy, party planning</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>heldover</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>newbus</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Name for the business</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>opendiscuss</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>nextmeet</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Tuesday</span>&nbsp;20,
					march</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>adjourn</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">11.25</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>Notes</p>
				</th>
				<td valign="top" style="border: none; padding: 0in"></td>
			</tr>
		</table>
		<p><br/>
		<br/>
		<br/>

		</p>
		<table cellpadding="2" cellspacing="0">
			<tr>
				<th style="border: none; padding: 0in">
					<p>MeetingDate</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">3/6/18</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>meetingordertime</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">7:30</span></font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>participantsandabsent</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Norma, Daron, Veda</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>corrections</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">No</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>additions</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">420 private exclusive event,
					legislation, wrappers, customer exclusivity via event, privacy is
					important till legalization</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>quorum</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Y</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>motions</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Norma is np and marketing, Veda
					is prez and programmer</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>voting</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>actionsto</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Wrapper for the budder, business
					plan revision, local farm relations for marketing tags.</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>steps</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>heldover</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>newbus</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>opendiscuss</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>nextmeet</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Next Tuesday 3/13 7pm</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>adjourn</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">11:54</span></font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>Notes</p>
				</th>
				<td valign="top" style="border: none; padding: 0in"></td>
			</tr>
		</table>
		<p><br/>
		<br/>

		</p>
		<table cellpadding="2" cellspacing="0">
			<tr>
				<th style="border: none; padding: 0in">
					<p>MeetingDate</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">feb 15, 2018</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>meetingordertime</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">6:30</span></font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>participantsandabsent</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Vedabrat, Norma</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>corrections</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Trisha's Absence</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>additions</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Marketing plan and funding,
					production</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>quorum</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Yes</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>motions</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">None</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>voting</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">no voting</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>actionsto</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">BuDDer planning</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>steps</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Finding marketing, teamwork</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>heldover</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Many from the first meeting!
					addressing all these things in one meeting and still taking
					personal notes is hard - veda</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>newbus</p>
				</th>
				<td style="border: none; padding: 0in"></td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>opendiscuss</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">no public peoples</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>nextmeet</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><font face="arial, sans-serif">Sunday 25 and monday the 26th</font></p>
				</td>
			</tr>
			<tr>
				<th style="border: none; padding: 0in">
					<p>adjourn</p>
				</th>
				<td style="border: none; padding: 0in">
					<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">9:00</span></font></p>
				</td>
			</tr>
		</table>
		<p><br/>
		<br/>

		</p>

	<p style="margin-bottom: 0in; line-height: 100%">The date of the next meeting and deadline for product submissions has not been determined yet.
	</p>

	</p>
	<p style="margin-bottom: 0in; line-height: 100%">next meeting topics
	</p>
	<p style="margin-bottom: 0in; line-height: 100%">	Paraphenalia</p>
	<p style="margin-bottom: 0in; line-height: 100%">	contest (positively
	oriented)</p>
	<p style="margin-bottom: 0in; line-height: 100%">	lipstick taffy</p>
	<p style="margin-bottom: 0in; line-height: 100%">	Spray bottle(for
	women)</p>
	<p style="margin-bottom: 0in; line-height: 100%">	Sexily named
	products</p>
	<p style="margin-bottom: 0in; line-height: 100%">	Hard candy -gets
	you hard</p>
	<p style="margin-bottom: 0in; line-height: 100%">	Weed infused Dinner
	(bong Apetit)</p>
	<p style="margin-bottom: 0in; line-height: 100%">	Best – made
	Product reviews</p>



	At the next meeting, a better butter will be made (4x stronger, single serving) (though this butter was said to do VERY WELL)<br />
	Kelly will bring oil and we will give feedback on it. I suggest
	Everyone must bring in a contact list of good customers to reach out to. <%= link_to "This survey should help you fill out a contact list", njmj_survey_path %><br />
	Grammar school friends, highschool friends, people you know are enthusiasts. anyone in NJ. <br />
	The next meeting will have roles we will vote on. I still have to create a stock system that registers us all <br />
	It has also been voted that every meeting that occurs MUST have <h3><%= link_to "the secretary form", njmj_secretary_path %></h3> filled out.
	<table width="582" cellpadding="2" cellspacing="0" style="page-break-before: always">
		<col width="135">
		<col width="438">
			<th width="135" style="border: none; padding: 0in">
				<p>MeetingDate</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">feb 18, 2018</font>
<br />
<br />
<br />
<br />
<br />
				<img style="transform:rotate(90deg)" class="img-responsive" src="2012218noranotes1.JPG" /> <br />
				<img style="transform:rotate(90deg)" class="img-responsive" src="2012218noranotes2.JPG" /><br />
				<img style="transform:rotate(90deg)" class="img-responsive" src="2012218noranotes3.JPG" /><br />
				<img style="transform:rotate(90deg)"  class="img-responsive" src="2012218noranotes4.JPG" /><br />
				<img style="transform:rotate(90deg)" class="img-responsive" src="2012218noranotes5.JPG" /><br />
				</p>
			</td>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>MeetingDate</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">feb 15, 2018</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>meetingordertime</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">6:30</span></font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>participantsandabsent</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">Vedabrat, Norma</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>corrections</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">Trisha's Absence</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>additions</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">Marketing plan and funding,
				production</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>quorum</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">Yes</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>motions</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">None</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>voting</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">no voting</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>actionsto</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">BuDDer planning</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>steps</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">Finding marketing, teamwork</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>heldover</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">Many from the first meeting!
				addressing all these things in one meeting and still taking
				personal notes is hard - veda</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>newbus</p>
			</th>
			<td width="438" style="border: none; padding: 0in"></td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>opendiscuss</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><font face="arial, sans-serif">no public peoples</font></p>
			</td>
		</tr>
		<tr>
			<th width="135" style="border: none; padding: 0in">
				<p>nextmeet</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Sunday
				</span>25 and M<span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in">onday
				the 26th</span></font></p>
			</td>
		</tr>
		<tr>
			<th width="135" height="20" style="border: none; padding: 0in">
				<p>adjourn</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">9:00</span></font></p>
			</td>
		</tr>
		<tr>
			<th width="135" height="20" style="border: none; padding: 0in">
				<p>Notes</p>
			</th>
			<td width="438" style="border: none; padding: 0in">
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">If
				you are a part of the team and see that work needs to get done,
				get it done!</span></font></p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Do
				what you can to help the agenda.</span></font></p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Get
				the membership and order online web order forms working.. </span></font>
				</p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Getting
				high net worth investors through a grand opening party where our
				product is used or displayed to make money</span></font></p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">have
				a site we can use at that party to collect pledges or purchasers
				for the product, or pledgers to financially back the company.
				Offer stock as a safe investment for 4 percent dividends for a
				year. Offer a venue for people and stores to make
				prepurchased/pilot orders, </span></font>
				</p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Price
				for budder should be per stick.</span></font></p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">We
				can lower 10% by bulk shipping of marijuana and bulk purchasing
				butter.<br/>
	We must have a competitive edge on anyone else who
				wants to make products that they could whip up in 20 minutes. For
				budder, it was the ability to control and dose yourself as easy as
				it is to dose butter. Veda thought that a stick of butter should
				contain a gram of Thc oil, but that quickly became expensive.
				Norma suggested 1 bar sticks for 8.50 cost. We talked about
				marketing and processing taking up 10% each of the revenue.
				Marketing being samples for new customers, attractive deals for
				new clients, and so forth. Operations being things like delivery,
				shelving costs with certain stores. </span></font>
				</p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">The
				first two rounds of drinks for every meetup should be free. </span></font>
				</p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Norma
				likes wine. Veda suggested prepurchasing a years worth of wine in
				an effort to define a minimum amount of meetings we want to have
				per year. </span></font>
				</p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Chocolate
				on nuts and other products were discussed as possibly being more
				attractive if the pure chocolate product wasnt sold well.</span></font></p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Stories
				of shrinking air-packaged bags like for chips was mentioned in
				effort to relay the important use of air in letting anything we
				make seem price-adjustable enough by quantities of air vs product.
				(chocolate drizzled popcorn? BuDDEred popcorn?)</span></font></p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Contest
				mentioned again, </span></font>
				</p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">Job
				roles should be assumed as often as possible. </span></font>
				</p>
				<p><span style="display: inline-block; border-top: none; border-bottom: 1px dashed #cccccc; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.02in; padding-left: 0in; padding-right: 0in"><font face="arial, sans-serif">New
				members should be formally introduced at the next official
				meeting. </span></font>
				</p>
			</td>
		</tr>
	</table>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Kelly will make and distribute brownies, cookies, muffins, cupcakes.
</p>


<p style="margin-bottom: 0in; line-height: 100%">Norma will experiment and make some spiked chocolates (white, dark and milk)</p>
<p style="margin-bottom: 0in; line-height: 100%">Veda is to make some gummy bears </p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
Keep track of all costs, details, instructions/tutorials and how much it would cost to do another batch, as well as dosage.
</p>
<p>Include packaging if you can</p>



</body>
</html>
