<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2018-02-04T21:50:04.722343934"/>
	<meta name="changed" content="2018-02-04T22:01:29.951040056"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
	<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">
		<%= link_to "See all notes", njmj_notes_path %> <br />


		<%= link_to "See previous meeting", njmj_meetingnotes_path %> <br />


<p style="margin-bottom: 0in; line-height: 100%"><a href="http://www.semo.edu/pdf/old/Lead_OfficerRoles_2009.pdf">Secretary
Duties</a></p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Date of the meeting:</p>
<input type='text' name='MeetingDate' /><br/>

<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Time the meeting was
called to order:</p>
<input type='text' name='meetingordertime' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Names of the meeting
participants and absentees:</p>
<input type='text' name='participantsandabsent' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Corrections and
amendments to previous meeting minutes:</p>
<input type='text' name='corrections' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Additions to the
current agenda:</p>
<input type='text' name='additions' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Whether a quorum is
present:</p>
<input type='text' name='quorum' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Motions taken or
rejected:</p>
<input type='text' name='motions' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Voting-that there
was a motion and second, and the outcome of the vote:</p>
<input type='text' name='voting' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Actions taken or
agreed to be taken:</p>
<input type='text' name='actionsto' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Next steps:</p>
<input type='text' name='steps' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Items to be held
over:</p>
<input type='text' name='heldover' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">New business:</p>
<input type='text' name='newbus' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Open discussion or
public participation:</p>
<input type='text' name='opendiscuss' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Next meeting date
and time:</p>
<input type='text' name='nextmeet' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>


</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Time of adjournment:</p>
<input type='text' name='adjourn' /><br/>

<p style="margin-bottom: 0in; line-height: 100%">Posthumos Notes:</p>
<input type='text' name='Notes' /><br/>

<p style="margin-bottom: 0in; line-height: 100%"><br/>

	<input type='submit' value='submit.' />
</form>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
