
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Enter for a chance
to win one 4 Canna butter Sticks or a free membership!</p>
<p style="margin-bottom: 0in; line-height: 100%">(Don’t leave
anything empty!)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">



</p>
<p style="margin-bottom: 0in; line-height: 100%">Date:</p>
<input type='text' name='date' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Name:</p>
<input type='text' name='name' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Number:</p>
<input type='text' name='number' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Email:</p>
<input type='text' name='email' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Address:</p>
<input type='text' name='address' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">City</p>
<input type='text' name='city' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">State</p>
<input type='text' name='state' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Zip</p>
<input type='text' name='zip' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Job</p>
<input type='text' name='job' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Male? Female?</p>
<input type='text' name='sex' /><br/>
<p style="margin-bottom: 0in; line-height: 100%">Age</p>
<input type='text' name='age' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">How long have you
been using cannabis products?</p>
<input type='text' name='smokedfor' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Any favorite strain?</p>
<input type='text' name='favStrain' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Which is your
Favorite Product?</p>
<p style="margin-bottom: 0in; line-height: 100%">BuDDer’s Butter or
BuDDer’s Chocolate</p>
<input type='text' name='favProduct' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">How can cannabutter
be made more convenient for you?</p>
<input type='text' name='convenience' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Have you heard about
Coinbase? How Familiar are you on a 1-10 scale?</p>
<input type='text' name='cryptoLvl' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">How affordable are
cannabis products to you?</p>
<input type='text' name='affordable' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">What could improve
the quality of our products?</p>
<input type='text' name='qualityImprove' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Do you think we
could improve the taste? How?</p>
<input type='text' name='tasteImprove' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">What could we do for
all of our customers that would make you feel special?</p>
<input type='text' name='special' /><br/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">If you get delivery,
what’s the name of your delivery driver? <br/>
If you can keep a
secret, ask them for the SPAC code.
<input type='text' name='localguy' /><br/>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<input type='submit' value='submit.' />
</form>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
