<h1>Njmjofficials#community_serv_dir</h1>
<p>Find me in app/views/njmjofficials/community_serv_dir.html.erb</p>
<br />Plan, direct, or coordinate the activities of a social service program or community
<br />outreach organization. Oversee the program or organization's budget and policies
<br /> regarding participant involvement, program requirements, and benefits. Work may
<br />involve directing social workers, counselors, or probation officers.
<br />
<br />Evaluate the work of staff and volunteers to ensure that programs are of appropriate
<br /> quality and that resources are used effectively.
<br />
<br />
<br />Monitor performance of organizational members or partners.
<br />
<br />
<br />Provide direct service and support to individuals or clients, such as handling
<br /> a referral for child advocacy issues, conducting a needs evaluation, or resolving complaints.
<br />
<br />Conduct opinion surveys or needs assessments.
<br />Resolve customer complaints or problems.
<br />
<br />
<br />Recruit, interview, and hire or sign up volunteers and staff.
<br />
<br />Interview employees, customers, or others to collect information.
<br />Hire personnel.
<br />Recruit personnel.
<br />
<br />
<br />Establish and maintain relationships with other agencies and organizations
<br /> in community to meet community needs and to ensure that services are not duplicated.
<br />
<br />Establish interpersonal business relationships to facilitate work activities.
<br />
<br />
<br />Establish and oversee administrative procedures to meet objectives set by
 <br />boards of directors or senior management.
<br />
<br />Develop operating strategies, plans, or procedures.
<br />Direct administrative or support services.
<br />
<br />
<br />Direct activities of professional and technical staff members and volunteers.
<br />
<br />Supervise employees.
<br />
<br />
<br />Plan and administer budgets for programs, equipment, and support services.
<br />
<br />Prepare operational budgets.
<br />
<br />
<br />Participate in the determination of organizational policies regarding such issues
<br />as participant eligibility, program requirements, and program benefits.
<br />
<br />Develop organizational policies or programs.
<br />
<br />
<br />Prepare and maintain records and reports, such as budgets, personnel records, or training manuals.
<br />
<br />Prepare financial documents, reports, or budgets.
<br />Maintain operational records.
<br />
<br />
<br />Research and analyze member or community needs to determine program directions and goals.
<br />
<br />Analyze market research data.
<br />
<br />
<br />Implement and evaluate staff, volunteer, or community training programs.
<br />
<br />Evaluate training programs, instructors, or materials.
<br />Manage human resources activities.
<br />
<br />
<br />Represent organizations in relations with governmental and media institutions.
<br />
<br />Represent the organization in external relations.
<br />
<br />
<br />Act as consultants to agency staff and other community programs regarding the
<br />interpretation of program-related federal, state, and county regulations and policies.
<br />
<br />Advise others on legal or regulatory compliance matters.
<br />
<br />
<br />Speak to community groups to explain and interpret agency purposes, programs, and policies.
<br />
<br />Promote products, services, or programs.
<br />
<br />
<br />Direct fundraising activities and the preparation of public relations materials.
<br />
<br />Coordinate special events or programs.
<br />
<br />
<br />Analyze proposed legislation, regulations, or rule changes to determine how agency services could be impacted.
<br />
<br />Analyze impact of legal or regulatory changes.
<br />
