<h1>Njmjofficials#historian</h1>
<p>Find me in app/views/njmjofficials/historian.html.erb</p>
Historian Job Description: Keep a record of the club's accomplishments and activities
 <br />for the year. Collect items such as pictures and news clippings about the club
 <br />and its members. Organize a scrapbook to tell the club's story for the year.
<br />
<br />The historian's job duties can extend to being a photographer, filmmaker and researcher.
 <br />Scrapbook. Compiling a year-end scrapbook is typically one of the club historian's main duties.
  <br />Record Book. Many clubs keep detailed record books similar to those maintained by sports teams.
   <br />Collect Nominees. Keep Members Updated.
<br />
