<h1>Njmjofficials#marking_pr</h1>
<p>Find me in app/views/njmjofficials/marking_pr.html.erb</p>
<br />The Marketing Director holds ultimate responsibility for the organisations marketing
<br />

activities and oversees the development and delivery of a fully integrated marketing strategy for the business.
<br />
<br />Duties of the Marketing Director:
<br />
<br />Development and implementation of the Brand strategy.
<br />Developing the marketing strategy for new and existing products
<br />Overseeing implementation of the Marketing strategy - including campaigns, events, digital marketing, and PR.
<br />Working closely with the company’s Sales team; enabling them to meet their commercial objectives by providing them with
<br />
appropriate tools, materials and presentations
<br />Guiding the day to day activities of the marketing team.
<br />Ensuring that the marketing objectives are implemented by the marketing team.
<br />Work closely with product management team to define marketing materials and programs.
<br />Manage social media presence and direct programs to improve social media reputation and recognition.
<br />Developing and delivering marketing and communications strategies for the organisation.
<br />Undertake continuous analysis of competitive environment and consumer trends
<br />Requirements of the role
<br />Bachelors or Masters degree in Marketing
<br />Professional chartered marketer (CIM).
<br />Proven track record of success in senior marketing roles.
<br />Confident, driven and dynamic leader.
<br />Entrepreneurial mindset with the ability to spot original branding opportunities.
<br />Should you require assistance recruiting for a Marketing Director then please do not hesitate to contact our specialist marketing
<br />
recruitment team on 020 8349 3508.
<br />
