<h1>Njmjofficials#parlimentarian</h1>
<p>Find me in app/views/njmjofficials/parlimentarian.html.erb</p>
Role of a Parliamentarian

This is a link to the Bill phil murphy is trying to allow. http://www.njleg.state.nj.us/2016/Bills/S3500/3195_I1.HTM

A Parliamentarian is an expert in rules of order and the proper procedures for the
conduct of meetings of deliberative assemblies. Parliamentarians assist organizations
 in the drafting and interpretation of bylaws and rules of order, and the planning
  and conduct of meetings.



Drafting and Interpreting Bylaws

Bylaws define the make-up, governance, rights and responsibilities of a given
organization and it’s members. They also define specific rules, which may be
unique to an organization, which can not be suspended, but must be adhered to.

Bylaws must be legislatively compliant with the laws governing the organization.


When a parliamentary authority has been adopted, such as the current edition of
 Robert’s Rules of Order Newly Revised, the parliamentary authority provides
 clear definition of many of the rules of order and procedures which the
 organization does not have to try and recreate in the bylaws, except for
  those specific cases where there is a variance or when the organization
   does not want the rule to be able to be suspended.

Parliamentarians assist the organization in drafting and interpreting bylaws,
specific to the needs of the organization. Working with the organization’s
legal council, the parliamentarian will ensure that the bylaws are
legislatively compliant.



Parliamentary Opinions

Parliamentarians are often asked by organizations, “given our current bylaws and
 rules of order, how do we do this, or, what is the proper procedure to accomplish this
  objective?” The Parliamentarian will review the organization’s governing
   documents and provide an opinion as to how to proceed within the rules.



Meeting and Convention Planning

Parliamentarians are often called upon to assist organizations in planning
 meetings or conventions. Most of the items that must be considered are listed
 on a checklist under the “Meeting Checklist” tab. In the planning for the meeting,
 the agenda will specify the proper sequence of events, but consideration must
 also be given to such things as proper protocol, say in the presentation or
 introduction of various attendees, opening ceremonies, seating, etc. The
 parliamentarian is of special use in the preparation of scripts for the chair,
  credentials reports and considerations, election forms and reports, and the
  processes in the consideration of motions and bylaw amendments.



Serving as Parliamentarian at Meetings

The role of the parliamentarian at a meeting is to be a resource to the chair,
 to assist the chair in the conduct of the meeting. The parliamentarian sits adjacent
  to the chair and unobtrusively gives the chair help, guidance and support during
   the meeting. The chair can and should consult with the parliamentarian when not certain on how to
    rule on a question or proceed in the circumstances.
