<h1>Njmjofficials#pres</h1>
President
<br /> Presides over meetings of the organization
<br /> Calls special meetings of the organization
<br /> Facilitates executive board meetings
<br /> Prepares and files any report required
<br /> Appoints committee chair people
<br /> Maintains contact with organization adviser
<br /> Maintains contact with organization alumni
<br /> Maintains contact with affiliated university
<br /> department or community partner
<br /> Maintains contact with (inter)national
<br /> organization
<br /> Represents the organization to the
<br /> University
<br /> Serves as a spokesperson for the
<br /> organization
<br /> Serves as a secondary signatory on financial
<br /> accounts
<br /> Assists all executive officers
<br /> Provides follow‐up to organizational tasks
<br /> Organizes executive board retreats
<br /> Coordinates executive board officer
<br /> transitions
<br /> Represents organization at official functions
<br /> Remains fair and impartial during
<br /> organization decision making processes
<br /> Provides encouragement and motivation to
<br /> fellow officers and organization members
<br />
