<h1>Njmjofficials#programming</h1>


<button onClick="showText()" id="descriptionToggle">What Is a Computer Programmer?</button>
<div id="description">
  <br />Computer programmers have many responsibilities and duties to fulfill in their job position. The amount of responsibility which a
  <br />computer programmer is given will depend on what type of position they hold, the company they work for and their individual desire to
  <br />be the best that they can be in the computer field. In order to excel in their job position as computer programmer, these individuals
  <br />may find it helpful to possess some of the various positive attributes.
  <br />
  <br />
  <br />For those who may need further information regarding who a computer programmer really is, the individual who fulfills the job role of
  <br />computer programmer is one who writes and develops various programs relating to the use of the computer. This individual has many
  <br />various duties relating to their general responsibility of designing computer programs and what the computer programmer does on a
  <br />daily basis will depend on the specific job position that is filled. Some computer programmers will perform one or two specific
  <br />duties whereas others will perform many duties in their daily functions.
  <br />
  <br />General Responsibilities of a Computer Programmer
  <br />No matter what type of job a computer programmer fulfills, he/she will have general responsibilities to perform in their role as
  <br />computer programmer. The first is to develop new computer programming methods. These may include anywhere from basic computer
  <br />programming methods to more in-depth methods. Another general responsibility which a computer programmer must undertake in his/her
  <br />daily job role is the development of programs themselves. This is an extremely important concept associated with the role of a
  <br />computer programmer as these are the individuals who construct the useful programs which are used by many.
  <br />
  <br />Another general responsibility of a computer programmer is to consult with outside parties in relation to the construction of
  <br />computer programming methods and the programs themselves. Lastly, computer programmers must follow the progress of programs to ensure
  <br />that they are operating correctly and fix any program errors that might occur along the way.
  <br />
  <br />Specific Duties of a Computer Programmer
  <br />There are a number of specific duties which go along with the job position of computer programmer. The primary duty of a computer
  <br />programmer is to develop computer programs. Computer programs can relate to business concepts, games or personal use by individual
  <br />computer users. There are a vast array of computer programs which can be developed and different computer programmers will create
  <br />various types of programs.
  <br />
  <br />Another specific duty of a computer programmer is to perform monitoring tasks to ensure that the programs which they develop work as
  <br />they are supposed to. This is done by reviewing programs on a frequent basis and making adjustments as are necessary to ensure the
  <br />proper working of a computer program. The computer programmer may perform this specific duty on their own or in conjunction with
  <br />others.
  <br />
  <br />Some computer programmers may also be in a supervisory position. This means that the computer programmer may oversee the work of
  <br />coworkers and subordinates on a daily basis. Those who fill a supervisory role may have to hire new computer programmers and others
  <br />who work in the computer department as well as fire those who do not work out. Computer programmers who are supervisors may also
  <br />perform scheduling and payroll tasks.
  <br />
  <br />The maintenance of computer databases is another type of specific duty which a computer programmer may find themselves responsible.
  <br />The size of the database will depend on the computer department which a computer programmer works within and the company which a
  <br />computer programmer works for in their job position.
  <br />
  <br />Computer programmers may also find themselves possessing the responsibility for preparing graphs, tables and analytical data displays
  <br />which show the progress of a computer program. This is important as it follows the working of a program and can be used to relay this
  <br />information to other individuals within the company or the general public as a whole.
  <br />
  <br />The computer programmer may also be the individual who is responsible for providing technical support to those who use the computer
  <br />programs developed by the individual and his/her company. This relates not only to those individuals who work for the company but
  <br />outside parties as well. The computer programmer may use phone, email or in person correspondence to aid individuals in using the
  <br />computer programs and enabling them to work as efficiently as possible.
  <br />
  <br />Positive Attributes for Computer Programmers to Possess
  <br />There are a few different personality traits or positive attributes which computer programmers should possess. By having these
  <br />traits, individuals who fill this job position may find that their daily workload is minimized much more quickly than if they lack
  <br />these traits. The first trait which computer programmers should possess is an analytical mind. Since they will have to analyze the
  <br />programming process every step of the way, possessing a trait of this kind will make their job much easier.
  <br />
  <br />Another positive trait for computer programmers to possess is a teamwork attitude. Many computer programmers need to work side by
  <br />side with others in the computer department so if the individual has a good teamwork attitude they are certain to make their days
  <br />progress smoothly. Being a good team player will make a world of difference for many.
  <br />
  <br />Computer programmers should also be efficient communicators. Many of the individuals who fulfill the role of computer programmer will
  <br />find themselves as a type of liaison for various individuals such as members of the general public and company employees. They will
  <br />help these individuals to not only understand the computer programs but to walk them through ways that they can correct any problems
  <br />they may have with the computer programs. An individual who possesses good communication skills will find that this trait comes in
  <br />handy in their daily job duties.
  <br />
  <br />
  <br />Lastly, computer programmers should be well versed in various computer programs and methods. A well-rounded computer programmer is
  <br />one whose daily job responsibilities will be fulfilled in a fast and efficient manner.
  <br />
</div>

<script>
document.getElementById('description').style.display = 'none';
function showText(){
  (document.getElementById('description').style.display == 'none') ? (document.getElementById('description').style.display = 'block') : (document.getElementById('description').style.display = 'none');
}
</script>
