<h1>Njmjofficials#recruit_retain_director</h1>
<br />The Director of Recruiting leads the business’s recruiting efforts and is the
<br />head of the entire recruitment department. The Director of Recruiting determines
<br />the strategic direction and objectives of the recruiting department, which in
 <br />turn supports the business’s growth while simultaneously maintaining its culture
 <br />and quality standards.
<br />
<br />The Director of Recruiting leads the development and implementation of strategic
 <br />talent acquisition tactics and leads the evaluation of the entire recruiting function, strategies, and procedures in order to find
 <br />opportunities for improvement. The Director of Recruiting oversees full cycle recruitment in support of all of the business’s
 <br />functions. He explores and implements practices that allow the business to attract top most talent to the business.
<br />
<br />Critical to achieving excellent results, is the ability of the Director of Recruiting to build strong relationships and deliver
<br />results in a rapidly and constantly evolving environment.
<br />
<br />Objectives and Responsibilities of the Director Recruiting
<br />Leadership/Supervisory Role: This is the first and most prominent role of the Director of Recruiting. In this leadership position,
<br />the Director of Recruiting leads, develops, and manages an ambitious high-performing team. The Director of Recruiting provides
<br />leadership in the establishment of the employment brand and develops supporting materials in order to communicate value proposition
<br />through the business’s employment advertisements, career sites, job descriptions, and other employment materials.
<br />
<br />The Director of Recruiting drives a culture of constant improvement, identifying, and implementing projects in order to increase
<br />business-wide recruiting effectiveness and efficiency. He provides sound leadership that ensures the delivery of the business’
<br />operational standards in recruitment activities. He additionally approves recommendations for streamlining the recruiting processes
<br />from junior recruiting managers and oversees the screening and selection processes for evaluating potential candidates conducted by
<br />the junior recruiting teams.
<br />
<br />The Director of Recruiting additionally oversees the compliance of all internal and external regulations concerning the recruitment
<br />and selection process. It is the director’s responsibility to ensure a consistent business image in the eyes of potential candidates
<br />and talents through recruiting campaigns and processes.
<br />
<br />The Director is tasked with driving full-cycle recruiting processes; this is inclusive of providing corrective as well as counseling
<br />options, and employment termination as may be required. The Director of Recruiting also constantly evaluates the department’s
<br />workload in order to guarantee optimal recruitment activity. In this position, the Director also plays a mentorship role to key
<br />junior level personnel, constantly honing their skills, and readying them for the occupation of his position in the future.
<br />
<br />
<br />Strategy/Tactics: The Director of Recruiting leads the development and execution of comprehensive recruiting strategies that will
<br />guarantee that the business attracts and hires the top most talent in the business. The Director of Recruiting leads the strategic
<br />direction of the department and examines hiring trends in anticipation of the business’s response to labor market changes, for
<br />example, shortages and surpluses of available labor. The Director of Recruiting endeavors to develop strategies and processes that
<br />utilize both traditional and modern/current/innovative sources in order to cover all possible talent pools available to the business.
<br />
<br />Collaboration: The role of the Director of Recruiting is, however, not an entirely independent one. He works with HR executives and
<br />key stakeholders, assisting them in understanding current and future workforce planning requirements. The Director of Recruiting
<br />works with the junior recruiting teams where he coaches, manages, and develops these teams, actively supporting their professional
<br />growth, taking on the role of their mentor, and guaranteeing the successful onboarding of all new hires.
<br />
<br />The Director of Recruiting will also collaborate with HR departmental leaders as well as other departmental leaders within the
<br />business in determining the current and future talent requirements of the business and those needs unique to each department. In his
<br />collaborative capacity, the Director of Recruiting also partners with the legal department in order to guarantee compliance with
<br />state legislation in its recruitment efforts.
<br />
<br />Analytics: The Director of Recruiting additionally plays a leading analytical role where he leverages key dashboard tracking
<br />analytics and impact metrics in order to grow a data-driven and technically skilled recruiting team. In this capacity, the Director
<br />of Recruiting evaluates and introduces alternative strategies, for example, technology, social media, and so forth. He also evaluates
<br />recruiting strategies/tactics and processes in order to continually improve recruiting processes and hence the quality of talent
<br />brought into the business.
<br />
<br />The Director of Recruiting will also create standardized reporting systems that will regularly lead to the identification of
<br />solutions and improvement areas for recruiting programs. These reports are forwarded to the Chief Human Resources Officer and key
<br />stakeholders providing insights for further decision making and strategy formulation.
<br />
<br />Other Duties: The Director of Recruiting also performs similar functions as he deems fit for the proper execution of his duties, and
<br />duties as delegated by the Chief Human Resources Officer or the Employer.
<br />
<br />Required Qualifications of the Director Recruiting
<br />Education: The Director of Recruiting must have a High School Diploma or G.E.D and a bachelor’s degree in Human Resources, Business
<br />Administration, or a related field. An equivalent of the same in working experience is also acceptable for this position.
<br />
<br />Experience: A candidate for this position must have at least 10 years in working experience in a senior recruiting position,
<br />preferably working as the Head of Recruiting in a fast-paced and highly competitive business. The candidate must have a proven and
<br />successful experience managing full-cycle recruiting processes consisting of sourcing, screening, on-boarding, coaching, and
<br />terminating.
<br />
<br />The candidate must additionally have experience directly managing recruitment managers and teams, leading to the acquisition of the
<br />best talents in the market. A suitable candidate will additionally demonstrate vast knowledge of recruiting database systems as well
<br />as knowledge of rewards programs inclusive of offer generation. As a bonus, the candidate will have a reputation for being a
<br />process-driver and thought leader, leveraging efficiencies in the use of technologies, workflows, and process.
<br />
<br />Communication Skills: Communication skills are also imperative for this position, both in written and in verbal form. As the head of
<br />the recruiting department he must be able to convey information and instructions down the line in a clear and concise manner, which
<br />will determine the efficiency and effectiveness of junior recruiting department. Communication skills are also important in enabling
<br />smooth cross-functional communications as well as facilitating smooth communications with candidates and talents in the market, being
<br />able to clearly articulate the business’s messages and bring out a positive image of the business.
<br />
<br />These skills will also be useful in the creation of reports meant for the Chief
<br />Human Resources Officer and key stakeholders. These reports influence key decision
 <br />making and strategy formulation and must, therefore, be clear, unambiguous, and
 <br />easy to understand having been tailored uniquely for each audience.
<br />
<br />Computer Skills/Ms Office: A suitable candidate must have superior computer skills and demonstrate proficiency in the use of Ms Word,
<br />Ms Excel, PowerPoint, and Outlook, all necessary for the creation of visually and verbally engaging reports for HR executives and key
<br />stakeholders.
<br />
<br />Technology/Analytical Skills: The candidate for this position must also be technologically adept and have a passion for conducting
<br />research and deriving actionable insights from raw data and information. The candidate must demonstrate an ability to analyze the
<br />performance of the department’s existent recruiting strategies and procedures, identifying areas for improvement, availing solutions,
<br />and further developing new and improved strategies.
<br />
<br />Interpersonal Skills: The candidate must have an ability to work in a fast-paced and constantly evolving environment, be innovative
<br />and willing to take risks, be welcoming to change, and be proactive and self-motivated working under minimal supervision. He must
<br />have excellent problem solving skills, work comfortably in a cross-functional setting, have a strong executive presence, work
<br />comfortably with senior business leadership and executives, and demonstrate composure under stress and in times of ambiguity.
<br />
<br />Leadership/People Skills: The Director of Recruiting must also have exceptional leadership skills, demonstrating an ability to
<br />influence senior business executives and to drive a cross-functional team in an aligned direction. He must be able to build
<br />meaningful and lasting relationships with others naturally, which will enable him to relate with candidates and talents in the field
<br />easily, allowing for easier acquisition and retention of valuable personnel in the business.
<br />
<br />Title: Retention Officer
<br />FX Central Clearing Ltd, a leading CySec registered Forex Trading Company based in Limassol, announce its
<br />new opening for Sales & Support Department. We are seeking an exceptional individual to join our Sales &
<br />Support team in the role of Retention Officer.
<br />The successful candidate will be responsible for managing client relationships and satisfaction. Identifying,
<br />planning, designing and implementing opportunities for improvement in Customer Loyalty, ensuring that
<br />clients have access to up-to-date market and pricing information.
<br />We are looking for Multilanguage speaking representatives for the international retention desks.
<br />Main Responsibilities
<br />• Managing ongoing private client relationships
<br />• Keeping up to date with market information and monitoring trends in all major currency pairings
<br />• Liaise with other departments, when required, to escalate and resolve issues and/or report faults
<br />• Provide training to clients on the use of the Company’s products
<br />• Explaining the payment process mechanism
<br />• Help maintain our high levels of client acquisition, retention and reactivation
<br />• Ensuring customer satisfaction, professional communication
<br />Qualifications
<br />• 3+ years of experience in customer retention or relationship management/marketing, including program
<br />development and execution (Forex Related)
<br />• Bachelor’s degree in economics, Finance, Business Management (MBA is an advantage)
<br />• Effectively communicates with all employee levels and levels of management
<br />• Fluent English both in written and oral communication skills.
<br />• Proven ability to multi-task, deliver exceptional results and motivate/ manage others in a fast paced,
<br />dynamic environment;
<br />• Outstanding written/verbal communication and presentation skills;
<br />• Strong decision making and problem solving skills;
<br />• Exceptional analytical, organizational and interpersonal skills;
<br />• Flexibility to work shifts/longer hours as and when required
<br />• Proficiency with different trading platforms and tools
<br />• Proficiency with Microsoft Office suite, including Word, Excel, Power Point and Outlook;
<br />
