<h1>Njmjofficials#secretary</h1>
<br />Obtains appropriate facilities for
<br />organization activities
<br /> Keeps a record of all members of the
<br />organization
<br /> Keeps a record of all activities of the
<br />organization
<br /> Prepares an agenda with the President for
<br />all meetings
<br /> Notifies all members of meetings
<br /> Prepares organization's calendar of events
<br /> Keeps the organization informed of both
<br />organizational and university business
<br /> Keeps and distributes minutes of each
<br />meeting of the organization
<br /> Creates and distributes agendas for each
<br />meeting of the organization
<br /> Maintains attendance at all meetings
<br /> Serve as the organization’s recognition and
<br />appreciation coordinator
<br /> Maintains organizational records, storage,
<br />and office
<br /> Prepares and files any report required
<br /> Handles all official correspondence of the
<br />organization
<br /> Collects organization mail from the adviser
<br />or wherever mail is received
<br /> Represents organization at official functions
<br /> Remains fair and impartial during
<br />organization decision making process
<br /> Performs other duties as directed by the
<br />President
<br />
