<h1>Njmjofficials#treasurer</h1>
<br />Is familiar with accounting procedures and
<br />policies
<br /> Serves as the primary signatory on financial
<br />accounts
<br /> Serves as chair of the finance committee
<br /> Pays organization bills
<br /> Collects organization dues
<br /> Keeps all financial records of the
<br />organization
<br /> Prepares an annual budget
<br /> Prepares all budget requests for funds
<br /> Prepares and submits financial reports to
<br />the members
<br /> Maintains a financial history of the
<br />organization
<br /> Provides advisor with summary of financial
<br />records at the end of the academic year
<br /> Advises members on financial matters (i.e.
<br />vendors, ticket selling procedures)
<br /> Prepares purchase orders, requisition
<br />forms, or supply requests
<br /> Coordinates fundraising drive
<br /> Coordinates solicitations
<br /> Files reports on all stolen or lost equipment
<br /> Maintains an inventory of all equipment
<br />and its condition
<br /> Represents organization at official functions
<br /> Remains fair and impartial during
<br />organization decision making processes
<br /> Performs other duties as directed by the
<br />President
<br />
