<h1>Njmjofficials#vp</h1>
<br />Vice President  
<br /> Assumes the duties of the President in his
<br />or her absence
<br /> Serves as an ex‐officio member of standing
<br />committees
<br /> Directs Constitutional updating and
<br />revisions
<br /> Facilitates election of officers
<br /> Recruits new members
<br /> Serves as Parliamentarian
<br /> Organizes an end‐of‐year celebration
<br /> Represents organization at official functions
<br /> Remains fair and impartial during
<br />organizational decision making processes
<br /> Performs other duties as directed by the
<br />President
<br />
