<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title></title>
        <meta name="generator" content="LibreOffice 5.1.6.2 (Linux)" />
        <meta name="created" content="2017-11-13T11:12:45.018498137" />
        <meta name="changed" content="2017-11-13T11:54:37.760256236" />
        <style type="text/css">
            @page {
                margin: 0.79in
            }

            p {
                margin-bottom: 0.1in;
                line-height: 120%
            }
        </style>
    </head>

    <body lang="en-US" dir="ltr">
        <p align="center" style="margin-bottom: 0in; line-height: 100%">
            <font size="7" style="font-size: 32pt">The Anand Farm.</font>
        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%">We grow and sell things, but it’s not so easy.<br>Materials, ongoing
            operations, and required maintenance are real costs!<br>We
            will be making things you like –  butternut squash, okra, aloe, peppers, <br />, celery, lettuce, carrots, onions, cotton, marijuana, and money,
            <br>so help keep us afloat for a share of the profits!</p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%"><b>OUR
PLANS</b></p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%">
            <font size="4" style="font-size: 15pt">1. Get a great discount by paying now and receiving later!</font>
        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%">
            <font size="2" style="font-size: 10pt">In other words, cover a portion of our ongoing yearly expenses
                (~10k total)
                <br>and for the amount you spend, we’ll give you a great
                discount<br>on the produce that you cant find anywhere
                else!</font><br/>
            <br/>
            <form action="https://getsimpleform.com/messages?form_api_token=d497015b6c7df29874fce90f1113a31e"
                method="post">
                <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                <!-- all your input fields here.... -->
                <p align="center" style="margin-bottom: 0in; line-height: 100%">Name:
                    <input type='text' name='prepurchase_name' />
                    <br>Amount:
                    <input type='text' name='prepurchase_amount' />
                    <br>Value of produce you’ll get:
                    <input type='text' name='prepurchase_value' />
                    <br>Savings:
                    <input type='text' name='prepurchase_savings' />
                    <br>Phone(so we can plan the transaction and delivery):
                    <input type='text' name='prepurchase_phone' />
                    <br>Email:
                    <input type='text' name='prepurchase_email' />
                    <br>Address (so I know where to deliver):
                    <input type='text' name='prepurchase_address' />
                    <br><br/>
                    <input type='submit' value='Submit - (only click once)' />
                </p>
            </form>

            <p align="center" style="margin-bottom: 0in; line-height: 100%">
                <font size="4" style="font-size: 15pt">2. Pledge to buy some of our stuff for cheap!</font>
            </p>
            <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

            </p>
            <p align="center" style="margin-bottom: 0in; line-height: 100%">
                <font size="2" style="font-size: 10pt">If you pledge now to buy our produce some time in the future,<br>we’ll
                    send you an email a month before it’s ready,<br>and
                    you can lock in a discounted price now without any
                    money upfront!<br>(Bulk discounts up to 11% do apply!)</p>
            <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

            </p>
            <form action="https://getsimpleform.com/messages?form_api_token=d497015b6c7df29874fce90f1113a31e"
                method="post">
                <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                <!-- all your input fields here.... -->
                <p align="center" style="margin-bottom: 0in; line-height: 100%">Name:
                    <input type='text' name='forward_name' />
                    <br>Product wanted:
                    <input type='text' name='forward_product_want' />
                    <br>Lbs wanted:
                    <input type='text' name='forward_lbs_want' />
                    <br>Price pledged:
                    <input type='text' name='forward_price_pledge' />
                    <br>Phone (to arrange transaction day):<input type='text'
                        name='forward_phonenum' />
                    <br>Email:
                    <input type='text' name='forward_email' />
                <br>Address (for route planning):<input type='text' name='forward_address'
                />
                <br>
                <input type='submit' value='Submit - (only click once)' />
                </font>
            </form>
					</p>

        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%">
            <font size="4" style="font-size: 15pt">3. Fund our operations.</font><br>
            <font size="2" style="font-size: 10pt">Getting things running costs money. </font>
            <br>
            <font size="2" style="font-size: 10pt">That comes full circle when someone wants to pay for what we’ve
                grown.</font><br>
            <font size="2" style="font-size: 10pt">Take part in that investment as a financial partner.</font><br>
            <font
                size="2" style="font-size: 10pt">If you pay now to cover some of our expenses for the year,</font><br>
                <font
                    size="2" style="font-size: 10pt">we will return 105% of your investment .</font>
        </p>
        <p align="center" style="margin-bottom: 0in; line-height: 100%"><br/>

        </p>
        <form action="https://getsimpleform.com/messages?form_api_token=d497015b6c7df29874fce90f1113a31e"
            method="post">
            <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
            <!-- all your input fields here.... -->
            <p align="center" style="margin-bottom: 0in; line-height: 100%">Name:
                <input type='text' name='Investor_name' />
                <br>Investment amount: <input type='text' name='Investor_amount'
                />
                <br>Phone (to arrange transaction dates): <input type='text'
                    name='Investor_phone' />
                <br>Email: <input type='text' name='Investor_email' />
                <br>Address (for check delivery): <input type='text' name='Investor_address'
                />
                <br><br/>
                <input type='submit' value='Submit - (only click once)' />
        </form>

        </p>
    </body>

</html>
