c<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2017-12-16T05:08:51.438558719"/>
	<meta name="changed" content="2017-12-16T06:01:42.306710528"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Ideas that can be
created to fulfillment if funded.</p>



<h2>
	<div>an online venue that people go to to say what foods they like</div>
</h2>
<div class="body">
		the site would have a user. login via facebook or gmail.
		the network shows what foods people like, whether it be so specific to be a specific item made by a specific chef in a restauranut
		or so general to say that they like mushrooms grown in colorado.
		by liking, commenting, sharing these images, videos, gifs, the likers become automatically part of a group that wishes to buy the product.
		they speak something of what they like to eat or consume.
		by doing this, they are encouraged to support gardens, factories and stores around them.
		 they also support the growth of a plant/animal/factory near them of those types that they like
		and their relevant ads come from plant shops who are growing plants.
		the question becomes, what does the diet of a specific person



</div>

<h2>the usefulness of using quantum theory to spread information faster than light.</h2>
<br/> if you use two quantum seperated particles, measure where they're at,
<br/> you can send information faster than the spend of light, allowing information to spread at both ends.
<br/> despite the barrier of time. This is useful in scenarios where you wish to send information between planets far away from eachother in time, or
<br/> even spaces which have a distinctive gravity wave which stretches space-time in between a sattellite and its receiver. Information would spread
<br/> faster than the doppler effect of two waves propogating from opposite ends of a pool. the unifying theory that sets these two things together
<br/> is game theory. In game theory, if an object cannot be transversed, a consciousness of it's paths (or how it behaves) must be predictible, such
<br/> that the consciousness of it's paths after being exposed to specific stimuli (which makes the atom respond in a certain way) will be corralled
<br/> and aimed so that the wave will behave as you expect it to at some point. My romantic idea with it is that a harmonius vibration is picked up
<br/> and a resonant one makes the others around it resonate in a certain manner complementary to it's own resonance.
<br/> Maybe it would be possible to understand what happens in a black hole if we threw this particle into the blackhole and registered it's changes.


<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<p>

		<h2> A pay to view a QRC model that is the accesspoint to pay for the delivery of a product</h2>
		<br/> The model starts listing products and their prices. The user of the webpage submits information
		<br/> that adjusts the prices to ship such a good. a link to the crypto qrc to pay for the item is placed
		<br/> behind the credit card charge.
		<br/>
		<br/>

	</p>

<p>

	<h2><%= link_to "The ability to play videos from excel", "https://www.extendoffice.com/documents/excel/4483-excel-play-video.html"%></h2>
	<br/> if this can be done, then ANY service from windows can be accessed via the office suite, even foreign programs.

</p>
<p>
	<h2>An open speaker that can lift a weight in certain controlled atmospheres. .</h2>
	<br/>
	<br/>		Two speakers positioned and placed inside a walled off or fielded space.
	<br/>		The upper one pastes on to the ceiling.
	<br/>		The lower one is within an enclosure that houses the object in event of a failure.
	<br/>		An object can be any household item, as long as the Machine can calibrate certain
	<br/>		resonant pressure/mass points from its upper half and lower half (6mm matted surface points on the top and bottom),
	<br/>
	 but lets keep it simple and stay closer to the objects we've found resonance in
	<br/>		Spherical and pointy.
	<br/>		they have settings to lower or raise the height of the object via resonant sound.
	<br/>		Again, this is the resonant sound with the object. A computerized calibrator must figure out by the
	<br/>		hight of the upper speaker and the lower speaker, their angles and positions with one another, the field they
	<br/>		can create (LED's could be employed here to help visualize the positions), and the resonance feedback that it gets
	<br/>		for it's position, which ultrasonic soundwaves are the most appropriate to keep the object in the fields of resonance.
	<br/>
	<br/>		For proper levitation, the enclosure must have an on and off setting, to prevent debris from affecting an open speaker's pathway.
	<br/>		The on setting removes the upper lid from the enclosure, and also removes the fabric covering that lid.
	<br/>		when the enclosure transitions to off, the object (specific points on a spherical object in this case)
	<br/>		is supported by extended arms, the lid is placed on the enclosure, the fabric is placed over it,
	<br/>	  and the object is lowered until it rests on the upper lid.
	<br/>
	<br/>		The speakers are set to a specific object. only that object will resonate in that space
	<br/>   the speakers are placed on circles on the ceiling, and circles on the flooring. (cannot have a rug under it.)
	<br/>   upon the setup of the speaker.
	<br/> 	This wont work conventionally however, as the air will compress under the weight, however, if a large enough surface
	<br/>  	area was to be touched by the sound itself, it could pull a certain n of force on each of the points.
	<br/>
</p>
<p>
 	<br/>
</p>
	<p>
		<h2> Eventbrite that has musicians sign up for the events</h2>
	<br/> <%= link_to "register an event via eventbrite.", "https://www.eventbrite.com/" %>
	Have a calendar listing of all related events.
	<br/>	have open positions for people to sign up. have artists request a certain amount of pay.
	<br/>	let the event creator confirm that pay. (generate the feedback loop of information between event
	<br/>	creator and financially pledged contribution requests.
	<br/>
</p>
<p>
	<h2> Making a person's life valuable and satisfying via gameifying goals in an avatar-like environment</h2>
	<br/>  An app starts by registering a user, building a profile of them (age, weight, race, gps location,
	<br/> income, gender, favorite meals, health [other stats on request]). it labels them as a type of bender on
	<br/>level 0 and has them attend schools, churches, martial arts schools, music schools, and volunteer events.
	<br/> points are awarded to the person as they remain in the area of these places and leave the webpage on.
	<br/> as they level up, they are allowed to use stronger and stronger air bending moves. The extent which
	<br/> would let them enter certain spaces which track their movements, and replicate certain martial arts moves
	<br/> in order to "trigger" that ability.
	<br/>
</p>
</p>
<h2> Local farming delivery efficiency (eliminating grocery stores) </h2>
<br/>Farmers currently need a complex network to deliver their goods and receive payment for their food from their people
<br/>Creating a simple dataabase that allows citizens of their own city to pay a tax to those farmers in order to make the foods required...
<br/>give farmers websites that manage to get the food statistics for a city and supply them for the cheapest amount possible.
<br/>
<br/>farmers must have the cheapest system possible for reaping and growing goods in a dense space.
<br/>
<br/>scale
<br/>	A propogation system
<br/>	A maintanence, watering and policing.
<br/>	A social system, (pollination and growth)
<br/>	A reaping system, (harvesting and collection)
<br/>	Refinement into packaged and finished goods (fresh, frozen, dried, juiced, canned)
<br/>	Bee Managemenet
<br/>	Plastic, paper, glass and aluminum recycling center.
<br/>
<br/>	resources needed, plastics, paper, metal and glass recycling
<br/>	Water source.
<br/>	website can help achieve the process of requests for refined goods, delivery, and
<br/>
<br/>	Farmer levels: level 0 - has nothing
<br/>	 								level 1 - owns a car, house, land, production output of x lbs per month
<br/>									level ...
<br/>									level ...
	<br/>								level 5 - owns car, tractor, shipping container, house, web domain,
	<br/>										2 zones of land, has employees, a 10x10 freeze dryer, temp control warehouses
	<br/>										a heating press, a pulper, a juicer, a bagger, cutter/ dicer,
	<br/>										jar supply, canning supplies, land production density & turnover
<br/>											ice cream
<br/>											milking
<br/>
According to farmer level, they can control/supply more or less of the surrounding area's demand for goods

<p style="margin-bottom: 0in; line-height: 100%"><br/>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">1.  create a venmo
for every currency</p>
Add a loan module that requires people to pay if they do not deposit money on time.
A #{loan} with a #{weekly} <u>period</u> at #{rate} with #{=weekly} #{payment_amount} dollars will follow this formula
current balance on #{loan}.
$ #{interest} will added if you do not submit payment by #{one_week_from_today}.

Where #loan is determined by any amount, 0-infinity, #weekly is a selector of weekly = 52, monthly=12, daily=356, yearly=1,
#rate is determined by whatever rate is chosen.

For the weekly formula, #interest = (#{loan}/#{payment_amount}/#{weekly}*#{rate}*#{payment_amount})+#{loan}

<p style="margin-bottom: 0in; line-height: 100%">	Let users</p>
<p style="margin-bottom: 0in; line-height: 100%">		create a wallet</p>
<p style="margin-bottom: 0in; line-height: 100%">		create a register
of which users have input money in (2x shipping fee ) to be accounted
</p>
<p style="margin-bottom: 0in; line-height: 100%">			for ( via human
reconciliation) (cash will be rejected and sent back if any is</p>
<p style="margin-bottom: 0in; line-height: 100%">			found to be
counterfeit)</p>
<p style="margin-bottom: 0in; line-height: 100%">				ruby methods :
send , request, create_user, create_password</p>
<p style="margin-bottom: 0in; line-height: 100%">				ruby gems:
devise_user_authenticator,
</p>
<p style="margin-bottom: 0in; line-height: 100%">		Withdrawal sends
money back to the bank for them.</p>
<p style="margin-bottom: 0in; line-height: 100%">		</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
</p>
<p style="margin-bottom: 0in; line-height: 100%">1a. start with the
command, upon (human)receipt of *your currency* in our
golden(composed of an aggregate financial value of a country's
currency) wallet,  you have been credited to the receipt of x amount
of *universal* dollars.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">1b .Make the dollars
a cryptocurrency,</p>
<p style="margin-bottom: 0in; line-height: 100%">base the crypto
currency's value on the most even portfolio of all countries in the
world. Taxes spent!</p>
<p style="margin-bottom: 0in; line-height: 100%">Taxes unspent.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"> 2. script:</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">user wants a form
process automated.</p>
<p style="margin-bottom: 0in; line-height: 100%">they have to enter
predetermined information constantly from an excel sheet to a
website. i come in, record the process, discuss the work you need to
do, and leave you with a process on your computer that does that
infinitely quickly as long as you do not update the system.
</p>
<p style="margin-bottom: 0in; line-height: 100%">automate a form</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">3. a site that is my
resume, and all active websites i have contributed to
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">4 . i can create web
marketing surveys.
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">5. i can create apps
that you can plug in certain devices for extra usability. (virtual
goggles application, specific usb application, unique usb product
applications, amazon firestick)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">6. i can create
forms that get sent to your email, and then are responded to in a
certain manner (for business correspondence and going paperless”</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">7. I can create a
management system based on videos and photos for project management
to get a job done.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
<!--
</p>
<p style="margin-bottom: 0in; line-height: 100%">8. a drugdealers
personal business minified to a shipping business. They conduct their
business without problems and great amounts of accountancy and ease
offered for free.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/> -->

</p>
<p style="margin-bottom: 0in; line-height: 100%">9</p>



10. A website that takes a public profile of a person and recreates them in
a VR sense. It will show their ideas, history, assets, background,  "as a god".
It will show their abilities, current statistics, most notable achievements,
the things they place value in, and their financial profile, as if they were a company.
Redundancy profile on personal information time spent on sex, eating, cooking, cals consumed daily
footsteps made this [day, week, month, hour]. Lessons taught, songs sang, instruments played, hours
on instrument.

<br><br>

11. compete with Radiris.com in being able to describe businesses, people, people by job topic
(first model would be public opinions of politicians), where politican ads are deployed to spread awareness on topics.


</body>
</html>
