<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2017-12-15T23:12:50.942304468"/>
	<meta name="changed" content="2017-12-15T23:24:38.746870989"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		h1 { margin-bottom: 0.08in }
		h1.western { font-family: "Liberation Sans", sans-serif; font-size: 18pt }
		h1.cjk { font-family: "Noto Sans CJK SC Regular"; font-size: 18pt }
		h1.ctl { font-family: "FreeSans"; font-size: 18pt }
	</style>
</head>
<body lang="en-US" dir="ltr">
<h1 class="western" align="left">Anand’s Investment Signup</h1>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">Here’s
what you do.</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">1. Fill
out this form</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>

<form action="https://getsimpleform.com/messages?form_api_token=67f0a04c90bacd6531179946d149e692" method="post">

<p align="left" style="margin-bottom: 0in; line-height: 100%">
<label>Name:</label>
<input type="text" name='name' placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">
<label>Email: </label>
<input type="text" name='phone' placeholder="Phone" id="phone" required data-validation-required-message="Please enter your phone number.">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">
<label>Address:</label>
<input type="text" name='address' placeholder="Address" id="address" required data-validation-required-message="Please enter your address.">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">
<label>Phone #</label>
<input type="text" name='phone' placeholder="Phone" id="phone" required data-validation-required-message="Please enter your phone number.">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">
<label>Amount wanted to be invested:</label>
<input type="text" name='amtinvest' placeholder="Amount to invest" id="amtinvest" required data-validation-required-message="Please enter the amount you'd like to invest.">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">
<label>plan to send on:</label>
<input type="text" name='senddate' placeholder="Date" id="senddate" required data-validation-required-message="Please enter the date you plan to send funds.">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">
<label>Type: Mailed check, venmo, bitcoin, litecoin, mailed cash (enter your type
here):</label>
<input type="text" name='type' placeholder="Bitcoin" id="phone" required data-validation-required-message="Please enter the method you will send funds.">
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">
<label>Preferred length of time you want to invest at:</label>
<input type="text" name='investmenthorizon' placeholder="Investment Horizon" id="investmenthorizon" required data-validation-required-message="Please enter investment period.">

</p>
<button type="submit" class="btn btn-success btn-lg">Send</button>

<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">2. I’ll
give you a call or email to confirm your request and line out things
with you.</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">3. Send
your money via your preferred method.</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%">4. I’ll
call when I’ve received it, and I’ll update the database with
details.
</p>
<p align="left" style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
