<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>TechIT Loans</title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2017-08-08T20:51:33.494297014"/>
	<meta name="changed" content="2017-08-09T11:56:05.868587361"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		td p { margin-bottom: 0in }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<form action="https://getsimpleform.com/messages?form_api_token=d497015b6c7df29874fce90f1113a31e"
			method="post">
</p>
<table width="100%" cellpadding="3" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: 1px solid #000000; padding: 0.04in">
			<p align="center">
				<font size="5" style="font-size: 18pt">
					<b>Borrower	Information</b>
				</font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p><input type="text" id="bi_1" name"bi_1" placeholder="Name: eg. John Smith"/>
</p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p><input type="text" name="bi_2" placeholder="Today's Date: eg. 12/12/2018" id="bi_2"/></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p><input type="text" id="bi_3" name"bi_3" placeholder="Address eg. 123 Providence Blvd."/></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p><input type="text" id="bi_4" name"bi_4" placeholder="Birthdate: eg. 12/16/1995"/></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p><input type="text" id="bi_5" name"bi_5" placeholder="City: eg. Jersey City"/></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p><input type="text" id="bi_6" name"bi_6" placeholder="Phone # eg. 123-465-7890"/></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p><input type="text" id="bi_7" name"bi_7" placeholder="State: eg. WA"/></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p><input type="text" id="bi_8" name"bi_8" placeholder="Work Phone# eg. 012-345-6789"/></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p><input type="text" id="bi_9" name"bi_9" placeholder="Zipcode eg. 12345"/></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p><input type="text" id="bi_10" name"bi_10" placeholder=" Driver's License #, eg. E123456789012"/></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p><input type="text" id="bi_11" name"bi_11" placeholder="email: eg. Johnsmith123@verizon.com"/></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p><input type="text" id="bi_12" name"bi_12" placeholder="Social Security Number eg. 123-45-6789"/></p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<table width="100%" cellpadding="3" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: 1px solid #000000; padding: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt"><b>Lender
			information</b></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p>Vedabrat Anand Etwaru</p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p>201 204 8791</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p>52 Yale Avenue</p>
		</td>
		<td rowspan="4" width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p>If paying by check make check payable to Vedabrat Anand Etwaru</p>
			<p>Send payments to 52 Yale avenue, Jersey city, NJ, 07304</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p>Jersey City</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p>NJ</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p>07304</p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<table width="100%" cellpadding="3" cellspacing="0">
	<col width="128*">
	<col width="128*">
	<tr>
		<td colspan="2" width="100%" valign="top" style="border: 1px solid #000000; padding: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt"><b>Loan
			information</b></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p id="calcbutton">$<input type="text" id="li_1" name"li_1" placeholder="Loan Amount: 2000."/></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p>Loan Period: From <input type="text" id="li_2" name"li_2" placeholder="1st day: eg. 12/15/2018"/><br/> To <input type="text" id="li_3" name"li_3" placeholder="Last day: eg 10/16/2023"/></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p><input type="text" id="li_4" name"li_4" placeholder="Interest Rate eg. 13% APY"/></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p><input type="text" id="li_5" name"li_5" placeholder="Payment schedule eg. Monthly on the 1st"/></p>
		</td>
	</tr>
</table>

<p style="margin-bottom: 0in; line-height: 100%">1. Promise to Pay.
For value received,
<input type="text" id="a_1" name"a_1" placeholder="John Smith"/>

(Borrower) promises to pay Vedabrat Anand Etwaru (Lender) $</p>
<input type="text" id="a_2" name"a_2" placeholder="400"/>
 and interest at
the annual rate of
<input type="text" id="a_3" name"a_3" placeholder="13"/>

% on the unpaid
balance as specified below.<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">2. Installments.<br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><input type="checkbox" id="a_4" name"a_4">Option 1</br>  Borrower
will pay <input type="text" id="a_5" name"a_5" placeholder="14"/>
 payments of $<input type="text" id="a_6" name"a_6" placeholder="200"/>
 each at <select id="a_7" name"a_7"/>
 <option value="NA" >N/A</option>
 <option value="daily" >Daily</option>
 <option value="weekly" >Weekly</option>
 <option value="monthly" >Monthly</option>
 <option value="annually" >Annually</option>
</select>
 intervals beginning on
the <input type="text" id="a_8" name"a_8" placeholder="first"/>
day of the month.<br/>

<input type="checkbox" id="a_9" name"a_9">Option 2 </br> Borrower
will pay one lump payment on
<input type="text" id="a_10" name"a_10" placeholder="5/24/2032"/>
 date
<br/>

<input type="checkbox" id="a_11" name"a_11">Option 3 </br> Borrower
will pay <input type="text" id="a_12" name"a_12" placeholder="10"/>
 payments of $<input type="text" id="a_13" name"a_13" placeholder="443.21"/>
 each at<input type="text" id="a_14" name"a_14"  placeholder="Quarterly"/>
 intervals with
a final balloon payment of $<input type="text" id="a_15" name"a_15" placeholder="3000"/>
 at the end of the loan term on
<input type="text" id="a_16" name"a_16" placeholder="5/24/2056"/>
 date.

<br/>

3. Application of
Payments.<br/> Payments will be applied to the interest first and then to
principal.<br/><br/>

4. Prepayment.<br/>
Borrower may prepay all or any part of the principal without penalty
and future interest at anytime.<br/><br/>

5. Loan
Acceleration. <br/>If Borrower is more than

<input type="text" id="a_17" name"a_17" placeholder="62"/>
days late in making
any payment, Lender may declare that the entire balance of unpaid
principal is due immediately, together with the interest that has
accrued.<br/><br/>

6. Security.<br/><br/><input type="checkbox" id="a_18" name"a_18">Option 1. <br/>Borrower
agrees that until the principal and interest owed under this
promissory note are paid in full, this note will be secured by a
signed agreement and Uniform Commercial Code Financing statement
giving Lender a security interest in the equipment, fixtures,
inventory, ad accounts receivable of the business known as
<input type="text" id="a_19" name"a_19" placeholder="4 Guys Pizzeria"/>
.<br/>
<br/>
<input type="checkbox" id="a_20" name"a_20">Option 2. <br/>Borrower Agrees that
until the principal and interest owed under this Promissory note are
paid in full, this note will be secured by the
	<br/>(Option 2.1) Mortgage
of the following property <input type="text" id="a_21" name"a_21" placeholder="25 Communipaw Ave, Jersey City, NJ"/>
<br/>
			under the name
of <input type="text" id="a_22" name"a_22" placeholder="John Smith" />
	<br/>(Option 2.2) deed of
trust covering the real estate commonly known as <input type="text" id="a_23" name"a_23" placeholder="Smith Property Group"/>
<br/>and located at <input type="text" id="a_24" name"a_24" placeholder="224 Pompton Lakes, Parsippany, NJ"/>
<br/>and more fully described as follows: <input type="text" id="a_25" name"a_25" placeholder="Lakefront properties owned by John Smith and other trustees in Parsippany NJ"/>
<br/><br/>
7. Collection Costs.<br/>
If Lender prevails in a lawsuit to collect on this note, Borrower
will pay Lender's costs and lawyer's fees in an amount the court
finds to be reasonable.<br/><br/>

The undersigned and all other parties to this note, whether as endorsers, guarantors or
sureties, agree to remain fully bound until this note shall be fully
paid and waive demand, presentment and protest and all notices hereto
and further agree to remain bound notwithstanding any extension,
modification, waiver, or other indulgence or discharge or release of
any obligor hereunder or exchange, substitution, or release of any
collateral granted as security for this note. No modification or
indulgence by any holder hereof shall be binding unless in writing;
and any indulgence on any one occasion shall not be an indulgence for
any other or future occasion. Any modification or change in terms,
hereunder granted by any holder hereof, shall be valid and binding
upon each of the undersigned, notwithstanding the acknowledgement of
any of the undersigned, and each of the undersigned does hereby
irrevocably grant to each of the others a power of attorney to enter
into any such modification on their behalf. The rights of any holder
hereof shall be cumulative and not necessarily successive. This note
shall take effect as a sealed instrument and shall be construed,
governed and enforced in accordance with the laws of the State of New
Jersey, USA. <br/>
<br/>

<br/>Witnessed
<input type="text" id="a_26" name"a_26" />
 Date <input type="text" name="a_27" id="a_27" placeholder="12/12/2018"/><br/>
Borrower

<input type="text" id="a_28" name"a_28" placeholder="John Smith"/>
Date

<input type="text" name="a_29" id="a_29"placeholder="12/12/2018"/>
<br/>


Lender
Vedabrat A. Etwaru Date <span id="today"></span><br/><br/>
</p>
<input onclick="myJsFunction()" type='submit' value='Submit - (only click once)' />
</form>
<script type="text/javascript">
var today = new Date().toJSON().slice(0,10).replace(/-/g,'/');
function autofill(){
		document.getElementById('today').innerHTML = today;
		document.getElementById('a_27').value = today;
		document.getElementById('a_29').value = today;
		document.getElementById('bi_2').value = today;
		document.getElementById('calcbutton').innerHTML = "<input type=\"text\" id=\"li_1\" name=\"li_1\" placeholder=\"Loan Amount: 2000.\"/><span onclick=\"calcinterest()\">Calculate rate</span>";
}
autofill();
function calcinterest(){
	var internal_r_r = .30;
	var loan = document.getElementById('li_1').value;
	var period = 0
	switch (document.getElementById('a_7').value) {
		case "NA":
		break;
		case "daily":
		period = 356;
		case "weekly":
		period = 52;
		break;
		case "monthly":
		period = 12;
		break;
		case "annually":
		period = 1;
		break;
		default:

	}
}

// A #{loan} with a #{weekly} <u>period</u> at #{rate} with #{=weekly} #{payment_amount} dollars will follow this formula
// current balance on #{loan}.
// $ #{interest} will added if you do not submit payment by #{one_week_from_today}.
//
// Where #loan is determined by any amount, 0-infinity, #weekly is a selector of weekly = 52, monthly=12, daily=356, yearly=1,
// #rate is determined by whatever rate is chosen.
//
// For the weekly formula, #interest = (#{loan}/#{payment_amount}/#{weekly}*#{rate}*#{payment_amount})+#{loan}

 function myJsFunction(){
 	var timeStampInMs = window.performance && window.performance.now && window.performance.timing && window.performance.timing.navigationStart ? window.performance.now() + window.performance.timing.navigationStart : Date.now();
	var forKeeps = timeStampInMs;

	 var timestamp = (Date.now());

 	var specArr0 = [document.getElementById('bi_1').value,
 	document.getElementById('input02').value,
 	document.getElementById('input03').value,
 	document.getElementById('input04').value,
 	document.getElementById('input05').value,
 	document.getElementById('input06').value,
 	document.getElementById('input07').value,
 	document.getElementById('input08').value,
 	document.getElementById('input09').value,
 	document.getElementById('input010').value,
 	document.getElementById('input011').value,
 	document.getElementById('input012').value,
 	document.getElementById('input013').value,
 	document.getElementById('input014').value,
 	document.getElementById('input015').value,
 	document.getElementById('input016').value,
 	document.getElementById('input017').value,];



    var specArr1 =[document.getElementById('input1').value,
		document.getElementById('input2').value,
		document.getElementById('input3').value,
		document.getElementById('input5').value,
		document.getElementById('input6').value,
		document.getElementById('input7').value,
		document.getElementById('input8').value,
		document.getElementById('input9').value,
		document.getElementById('input10').value,
		document.getElementById('input11').value,
		document.getElementById('input12').value,
		document.getElementById('input13').value,
		document.getElementById('input13.5').value,
		document.getElementById('input14').value,
		document.getElementById('input15').value,
		document.getElementById('input16').value,
		document.getElementById('input18').value,
		document.getElementById('input19').value,
		document.getElementById('input20').value,
		document.getElementById('input22').value,
		document.getElementById('input23').value,
		document.getElementById('input25').value,
		document.getElementById('input26').value,
		document.getElementById('input27').value,
		document.getElementById('input29').value,
		document.getElementById('input30').value,
		document.getElementById('input31').value,
		document.getElementById('input32').value];



console.log (timestamp, specArr0, specArr1);

};




</script>

</body>
</html>
