<p style="margin-bottom: 0in; line-height: 100%"><br/>
If you'd like free information for discounts on your favorite products
<br />sign up below for an alert for when your favorites are in stock.</p>

	<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">
<p style="margin-bottom: 0in; line-height: 100%"><br/>
<p style="margin-bottom: 0in; line-height: 100%">First Name + MI	</p>
  <input type='text' name='first' /></p>

    <p style="margin-bottom: 0in; line-height: 100%">Last Name	</p>
    <p style="margin-bottom: 0in; line-height: 100%"><br/>
    <input type='text' name='last' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Alias	</p>
    <input type='text' name='alias' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Home Phone	</p>
    <input type='text' name='home' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Cell	</p>
    <input type='text' name='cell' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Address	</p>
    <input type='text' name='address' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Email	</p>
    <input type='text' name='email' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Snapchat	</p>
    <input type='text' name='snap' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">IG	</p>
    <input type='text' name='ig' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Facebook
	</p>
    <input type='text' name='fb' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">WhatsAPP
	</p>
      <input type='text' name='wap' /></p>

      <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">Preferred Method of Contact
	</p>
    <input type='text' name='pref' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">1st Favorite Product	</p>
    <input type='text' name='fav1' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">2nd Favorite Product	</p>
    <input type='text' name='fav2' /></p>

    <p style="margin-bottom: 0in; line-height: 100%"><br/>
  <p style="margin-bottom: 0in; line-height: 100%">3rd Favorite Product	</p>
    <input type='text' name='fav3' /></p>


<p style="margin-bottom: 0in; line-height: 100%"><br/></p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

	<input type='submit' value='Sign up.' />
</form>

<% 5.times do  %>
<br />
<% end %>
