
<p style="margin-bottom: 0in; line-height: 100%"> <%= link_to "View list of contributors and contributions here", welcome_njmj_letsdothis_path %> </p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"> Our idea has raised 25K in its first round seed investing. </p>
Buy in now before shares are distributed and private ownership is closed off.

<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">
	  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
</p>
<p style="margin-bottom: 0in; line-height: 100%">Full Legal Name	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='name' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Phone number</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='phone' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Address	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='address' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Email	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='email' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Proposed fund
contribution.	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='proposedfund' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>

<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='contribution' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

<p style="margin-bottom: 0in; line-height: 100%"><br/>

	<input type='text' name='topicstovote' />
	<input type='submit' value='Lets do this.' />
</form>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
