<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2017-03-29T13:57:50.696793407"/>
	<meta name="changed" content="2017-03-29T14:15:42.320739307"/>
	<style type="text/css">
		@page { margin-left: 0.01in }
		p { margin-bottom: 0.1in; line-height: 120% }
		td p { margin-bottom: 0in }
	</style>
</head>
<body lang="en-US" dir="ltr">
<table width="100%" cellpadding="3" cellspacing="0" style="page-break-inside: avoid">
	<col width="128*">
	<col width="128*">
	<tr valign="top">
		<td width="50%" height="35" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0.04in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Business
			Network Design / Installation</font></p>
		</td>
		<td width="50%" style="border: 1px solid #000000; padding: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$ 199
			first two devices</font></p>
			<p align="center"><font size="5" style="font-size: 18pt">$79 each
			additional</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Home
			Network Design / Installation</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$179
			first two devices,</font></p>
			<p align="center"><font size="5" style="font-size: 18pt">$59 each
			additional</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Wireless
			Network Security</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$149
			first two devices,</font></p>
			<p align="center"><font size="5" style="font-size: 18pt">$59 each
			additional</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Internet
			Content Filtering</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$349</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Online
			Child Safety</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$129</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Physical
			Cleaning</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$89</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">PC
			Troubleshooting/Diagnostics</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$FREE if
			you hire us to fix the problem (otherwise $129)</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">System
			Tune-Up and Optimization</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$179</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Virus /
			Spyware / Adware Protection, Scan and Removal</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$249</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Hardware
			Install / Upgrade / Repair</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$129</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Laptop DC
			Jack Replacement</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$159 plus
			the cost of shipping </font>
			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Operating
			System Installation</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$ 199</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Operating
			System Installation with Data Backup</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$229</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Install /
			Upgrade Single Software Title</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$79</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Install /
			Upgrade / Repair Software Suite</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$99</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Business
			Data Recovery</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">Contact
			us for a quote.</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Home Data
			Recovery</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">Contact
			us for a quote.</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Secure
			Data Deletion</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$129</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Secure
			Online Data Backup</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">Contact
			us for a quote.</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">One-Time
			Data Backup</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$149</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Data
			Migration</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$179</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">General
			PC Service</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">$129</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Website
			Design and Development</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">Mahmood
			from Upwork helps us here</font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="50%" height="24" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0in">
			<p align="center"><font size="5" style="font-size: 18pt">Graphic
			Design and Corporate Identity Services</font></p>
		</td>
		<td width="50%" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0in; padding-bottom: 0.04in; padding-left: 0.04in; padding-right: 0.04in">
			<p align="center"><font size="5" style="font-size: 18pt">Mahmood
			from Upwork helps us here</font></p>
		</td>
	</tr>
</table>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
