<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2017-10-27T11:08:47.838625865"/>
	<meta name="changed" content="2017-10-28T14:23:08.958614793"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">

<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h1 style="margin-bottom: 0in; line-height: 100%">Got an issue?</h1>
<p style="margin-bottom: 0in; line-height: 100%">Our friendly techs
will reach out to you and help you troubleshoot your problem for
cheaper than having a tech come and fix it for you. Plus you learn a
little in the process! Just fill out the info below and we’ll get
to you as soon as we can!</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<form action="https://getsimpleform.com/messages?form_api_token=67f0a04c90bacd6531179946d149e692" method="post">

<p style="margin-bottom: 0in; line-height: 100%">Name:
	<input type="text" id="name" />

</p>
<p style="margin-bottom: 0in; line-height: 100%">Phone:
	<input type="text" id="phone" />

</p>
<p style="margin-bottom: 0in; line-height: 100%">Email:
	<input type="text" id="email" />

</p>
<p style="margin-bottom: 0in; line-height: 100%">Address:
	<input type="text" id="address" />

</p>
<p style="margin-bottom: 0in; line-height: 100%">Issue:
	<input type="text" id="issue" />

</p>
<p style="margin-bottom: 0in; line-height: 100%">Skype:
	<input type="text" id="skype" />

</p>
<p style="margin-bottom: 0in; line-height: 100%">Facebook:
	<input type="text" id="facebook" />

</p>
<p style="margin-bottom: 0in; line-height: 100%">Whatsapp:
	<input type="text" id="whatsaap" />

</p>
<p style="margin-bottom: 0in; line-height: 100%">Preferred method of contact:
	<input type="text" id="contact_method" />
	<button type="submit" class="btn btn-success btn-lg">Send</button>
</form>
</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
