<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="2018-03-28T15:42:00.675172944"/>
	<meta name="changed" content="2018-03-28T18:12:56.935754957"/>
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
	</style>
</head>
<body lang="en-US" dir="ltr">
<p style="margin-bottom: 0in; line-height: 100%">Ticket for issues at
The Factory</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Ticket # (or blank):
  ________</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Date:
_______________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">Name :
_______________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">Number:
_______________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Location of Issue:
_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">Urgency: 1-10 (if
ten, call 201-204-8791)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Issue:</p>
<p style="margin-bottom: 0in; line-height: 100%">_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">___________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">Please describe
problem:</p>
<p style="margin-bottom: 0in; line-height: 100%">____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">______________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Proposed solution
(you can leave this blank)</p>
<p style="margin-bottom: 0in; line-height: 100%">_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%">_________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>