<p style="margin-bottom: 0in; line-height: 100%">I had a wonderful idea to bring TopGolf to the Johannesburg Market.</p>
<p style="margin-bottom: 0in; line-height: 100%">There are many reasons to become part of this, and I know there is defined success in this. </p>
<p style="margin-bottom: 0in; line-height: 100%">It may take a little bit of time, but I decided to
jumpstart investors and make a meeting happen.
</p>
<p style="margin-bottom: 0in; line-height: 100%">I’m starting a
digital trail for investors, management, and voting so we can start the process.</p>
<p style="margin-bottom: 0in; line-height: 100%"> <%= link_to "View list of contributors and contributions here", welcome_topgolf_letsdothis_path %> </p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">I’m managing
everything on a personal email for now, and will update it upon
request, but lets get the ball rolling so we can start the trail.</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">
	  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
</p>
<p style="margin-bottom: 0in; line-height: 100%">Full Legal Name	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='name' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Phone number</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='phone' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Address	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='address' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Email	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='email' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Proposed fund
contribution.	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='proposedfund' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Proposed
Contribution to Operations</p>
<p style="margin-bottom: 0in; line-height: 100%">(Nonfinancial
Contributors must take</p>
<p style="margin-bottom: 0in; line-height: 100%"> necessary open
positions)</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='contribution' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Skype?	</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='skype' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Easiest method of
video contact:</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='videocontact' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Preferred method of
contact:</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
	<input type='text' name='preferred contact' />

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Suggested topics to
discuss/vote on
</p>
<p style="margin-bottom: 0in; line-height: 100%">A precursor meeting will be held at 7 pm
Monday, June 25
</p>
<p style="margin-bottom: 0in; line-height: 100%">(mandatory video
attendance,<br/>
remember to set your calendars!):</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

	<input type='text' name='topicstovote' />
	<input type='submit' value='Lets do this.' />
</form>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
