<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
	<meta name="generator" content="LibreOffice 5.1.6.2 (Linux)"/>
	<meta name="created" content="00:00:00"/>
	<meta name="changed" content="2018-01-13T16:41:23.166162033"/>
	<meta name="created" content="00:00:00">
	<meta name="changed" content="2018-01-13T14:37:36.051786486">
	<meta name="created" content="2018-01-12T20:19:04.552831740">
	<meta name="changed" content="2018-01-12T21:53:55.747050964">
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		h3.western { font-family: "Liberation Sans", sans-serif }
		h3.cjk { font-family: "Noto Sans CJK SC Regular" }
		h3.ctl { font-family: "FreeSans" }
		a:link { so-language: zxx }
	</style>
</head>
<body lang="en-US" dir="ltr">
<h3 class="western">Contributors:</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">Thivashnee</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Proposed Funding
</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<p style="margin-bottom: 0in; line-height: 100%">$14k - $24k</p>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Jobs Volunteered for:</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Meeting Agenda Topics:</h3>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
<h3 class="western">Valued Roles (needed):</h3>
<p style="margin-bottom: 0in; line-height: 100%">Treasurer, Secretary, President, Vice President</p>

Notes: Topgolf requires a strong corporate presence in order to be feasible.
<br />If you want to be a part of the Topgolf phenomenon, are financially sound
and have experience with real estate development and government relations, we’ll guide
 you through every aspect of the process to launch Topgolf in your country.
 <%= link_to "Apply for TopGolf Partnership", "https://www.topgolfinternational.com/" %>
 


</body>
</html>
