<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>



I value ____________ (make a method that takes this input and adds it to an array/database)





 top 30 things in the database below | clicks | likes | upvotes | downvotes
