<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title></title>
    <meta name="generator" content="LibreOffice 5.1.6.2 (Linux)" />
    <meta name="created" content="2017-11-02T14:19:58.333275740" />
    <meta name="changed" content="2017-11-02T14:25:28.076491781" />
    <style type="text/css">
        @page {
            margin: 0.79in
        }

        p {
            margin-bottom: 0.1in;
            line-height: 120%
        }
    </style>
</head>

<body lang="en-US" dir="ltr">
    <div align="center" >
      <p  style="margin-bottom: 0in; line-height: 100%">Submit your coolie pun <span style="text-decoration: none">:</span></p>
    <p  style="margin-bottom: 0in; line-height: 100%">
			<br/>
		</p>
    <form action="https://getsimpleform.com/messages?form_api_token=42e4f12338e3a9d957a31fa298211e13" method="post">
				<!-- <input type='text' name='test' /> -->
    <p  style="margin-bottom: 0in; line-height: 100%">
			<span style="text-decoration: none">Youtube link:
				<input type='text' name='youtube link' />
			</span> </p>
    <p  style="margin-bottom: 0in; line-height: 100%">
			<span style="text-decoration: none">Text:
				<input type='text' name='text' />
</span>
		</p>
    <p  style="margin-bottom: 0in; line-height: 100%">
			<span style="text-decoration: none">Video:
				<input type='text' name='video' />
    </p>
    <p style="margin-bottom: 0in; line-height: 100%">
				<br/>Audio:
	<input type='text' name='audio' />
</p>
</span>
    <p  style="margin-bottom: 0in; line-height: 100%">
			<input type='submit' value='Submit!' /> </form>
			<br/> </p>
    <p  href="www.techit.herokuapp.com/WIP/approved.html" style="margin-bottom: 0in; line-height: 100%">Approved submissions</p>
    <p  style="margin-bottom: 0in; line-height: 100%">
      <br/>They say chedar for blanket
			<br/> Lime - hang out
      <br/> Wine- dance move
      <br/>(scene: a female with an especially fat and jiggly butt passes by a group of men <br/>as one of them exclaims)"Like da gyal mudda cookin buttahflap"
      <br/>Bade- skin nasty go bade.. bade farewell to thee
      <br/> Bade- yuh skin nasty you need to bade...american- bade farewell to my friend
      <br/>Wata- what a
      <br/> (a rum drinker passes a pandit) *Pandit*: Raam Raam. *rum drinker* Rum Rum
    </p>
  </div>
</body>

</html>
