<p align="center" style="margin-bottom: 0in; line-height: 100%">
Hi,  I'm Anand,  a fullstack web-developer.
<br />
<%= link_to "[LinkedIn]", "https://www.linkedin.com/in/vedabrat-etwaru-44b0a64b/" %>
<br />
<%= link_to "[Github]", "https://github.com/vedabrat" %>
<br />
<%= image_tag 'https://scontent.fewr1-2.fna.fbcdn.net/v/t1.0-9/10940431_10104763544849819_7837145204083956162_n.jpg?oh=9f9faf75a7548abb5a18b0d9fed7a881&oe=5B3D89F7' %>
<br />

I've hired a mentor and have completed my goal's objectives earlier than expected.
I've entered a space of time where I have 6 weeks to work on a project with his guidance.
Rather than thinking about how I can create the most value of his time for myself,  I decided to put my faith
towards those who have ideas and the capital to make them grow.
<br />
<br />
Anyone can hire a web developer, but how often does the chance to hire a developer and manager/mentor
team come by? If that situation has never happened before, here is the opportunity.
You'll get me along and mentor personally working on your app/website.
<br />
<br />
That's 5 days a week, 9-5, caffeinated, and creating. Honestly, I also work on weekends/nights at my leisure.
We can make anything from the next Google to the next Facebook. There is nothing that cannot be achieved.
<br />
<br />
Give me your info below and if you're the highest bidder, I'll message you Tuesday night(March 27th 2018) (via text/email) with instructions so we can discuss on Wednesday (March 28th 2018) and begin on Thursday (March 29th 2018).
<br />
<br />
<br />
Highest Bidder:
<span id="highestbidder"> DDRon</span>
<br />
Highest Bid
<span id="highestbid"> $5,020.89 USD</span>
<br />
Number of bids
<span id="numofbids"> 13</span>
<br />

<form action="https://getsimpleform.com/messages?form_api_token=b83fe0c887136349bbccf84ea8b5656c" method="post">

<br />Alias
<input type='text' id='alias' /><br/>
<br />Name
<input type='text' id='name' /><br/>
<br />Home Phone
<input type='text' id='homephone' /><br/>
<br />Work Phone
<input type='text' id='workphone' /><br/>
<br />Cell Phone
<input type='text' id='cellphone' /><br/>
<br />Address
<input type='text' id='address' /><br/>
<br />Email Address
<input type='text' id='email_address' /><br/>
<br />City
<input type='text' id='city' /><br/>
<br />State
<input type='text' id='state' /><br/>
<br />Zip
<input type='text' id='zip' /><br/>
<br />Bid Amount
<input type='text' id='bid' /><br/>
<br />Project Description
<input type='text' id='description' /><br/>
<br />

<input type='submit' value='Submit Order' />
</p>
